<%= simple_form_for :post, { url: post_posters_path(@post, format: :pdf), method: "get", data: { controller: 'maps detail-length delay-redirect'} } do |f| %>
  <div class = "container pb-5" >
    <div class="col text-start mb-5" style="font-size: 20px;">
      <%= link_to(root_path, style: 'text-decoration: none;') do %>
          <i class="fa-solid fa-arrow-left"></i>
          ย้อนกลับ
      <% end %>
    </div>
    <div class = "card p-5 border-dark" style="border-radius: 15px" >
    <h4 class = "subtitle pb-3">สร้างโปสเตอร์</h4>
    <hr>
    <%= f.error_notification %>
    <%= f.hidden_field :lat, data: { maps_target: "latitude" } %>
    <%= f.hidden_field :lng, data: { maps_target: "longitude" } %>
    <%= f.hidden_field :location, data: { maps_target: "address" } %>
    <%= content_tag :div, nil, data: { maps_target: "map" } %>

    <% if @post.user.avatar.present? %>
      <%= f.hidden_field :avatar , value: "#{url_for(@post.user.avatar)}" %>
    <% else %>
      <%= f.hidden_field :avatar, value: "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" %>
    <% end %>

    <div class="form-group col-md-9 pt-4">
      <label class='font-weight600'>หัวข้อประกาศ</label>
      <%= f.input :name, label: false, required: true, :disabled => true %>
    </div>

    <div class="form-group col-md-12 py-5">
      <% if @post.images.attached? %>
      <p class = "font-weight600">เลือกรูปภาพ*</p>
      <div class = "imglist">
         <% @post.images.each_with_index do |image, i| %>
          <label class = "space">
            <div class = "radio"><%= f.radio_button :images, polymorphic_url(image), checked: i==0,  class: 'radiobtn' %></div>
            <div class = "chooseimg"><%= image_tag(image, class: 'imgsize') %></div>
          </label>
        <% end %>
      </div>
      <p class = "color--red pt-4">*สามารถเลือกรูปสำหรับทำโปสเตอร์ได้เพียง 1 รูปเท่านั้น</p>
      <% end %>
    </div>

    <div class="row mb-5">
      <div class="col-md-3">
        <label class='font-weight600'>ประเภท</label>
        <%= f.input :type_id, label: false, :collection => Type.all.map{ |l| [l.type_name, l.id] }, include_blank: 'เลือก', :disabled => true %>
      </div>

      <div class="col-md-3">
        <% if @post.category == 'lost_item' %>
          <label class='font-weight600'>วันที่หาย</label>
        <% elsif @post.category == 'found_item' %>
          <label class='font-weight600'>วันที่พบ</label>
        <% end %>
        <%= f.input :date, label: false, as: :date, html5: true, input_html: {}, :disabled => true %>
      </div>

    </div>

    <div class="form-group mb-5 col-md-9">
      <label class='font-weight600'>สถานที่</label>
      <%= f.input :location, label: false,
        input_html: { data: { maps_target: "field", action: "maps#setAutocomplete" }}, :disabled => true %>
    </div>

    <div class="form-group mb-5 pb-5 col-md-9">
      <label class='font-weight600'>รายละเอียด</label>
      <%= f.input :detail, as: :text, :input_html => { :rows => 7 , :style => 'height: 100%',
        data: { detail_length_target: "detail", action: "input->detail-length#checkLength" }, id: "detail"},
        label: false, error: 'สามารถใส่ข้อความได้สูงสุดไม่เกิน 500 ตัวอักษร' %>
    </div>
    <hr>
    <div class="d-flex justify-content-end mt-5">
      <div class="pe-5">
        <%= link_to "ยกเลิก", "/posts/#{@post.id}", class: "btn btn--outline-primary poster" , id: 'secondaryButton'%>
      </div>
      <div>
        <%= f.button :button, "สร้างโปสเตอร์", type: "submit", class: "btn--primary poster", id: 'primaryButton', data: {action: "click->delay-redirect#link"} %>

      </div>
    </div>
  <% end %>

  </div>
</div>
