<%= simple_form_for :post, { url: post_posters_path(@post, format: :pdf), method: "get", data: { controller: 'maps detail-length delay-redirect'} } do |f| %>
  <div class="container" >

    <div class="row ">
      <div class="row justify-content-md">
        <div class="fs-2 col col-lg-2">
          <%= link_to("/posts/#{@post.id}", class: 'text-decoration-none', id: 'back-view-detail') do %>
            <i class="fa-solid fa-arrow-left"></i> ย้อนกลับ
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="mb-4 bg-body card-form padding-box">

      <h4 class = "subtitle pb-3" id="create-poster-title">สร้างโปสเตอร์</h4>
      <hr>
      <%= f.error_notification %>
      <%= f.hidden_field :lat, data: { maps_target: "latitude" }, id: "poster-latitude-hidden-field" %>
      <%= f.hidden_field :lng, data: { maps_target: "longitude" }, id: "poster-longitude-hidden-field" %>
      <%= f.hidden_field :location, data: { maps_target: "address" }, id: "poster-location-hidden-field" %>
      <%= content_tag :div, nil, data: { maps_target: "map" }, id: "poster-map-hidden-field" %>

      <% if @post.user.avatar.present? %>
        <%= f.hidden_field :avatar , value: "#{url_for(@post.user.avatar)}" %>
      <% else %>
        <%= f.hidden_field :avatar, value: "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" %>
      <% end %>

      <div class="form-group col-md-9 pt-4">
        <label class='font-weight600' id="poster-name-text">หัวข้อประกาศ</label>
        <%= f.input :name, label: false, required: true, :disabled => true, id: "poster-name-input-disabled" %>
      </div>

      <div class="form-group col-md-12 py-5">
        <% if @post.images.attached? %>
        <p class = "font-weight600" id="poster-image-select-text">เลือกรูปภาพ*</p>
        <div class = "imglist">
          <% @post.images.each_with_index do |image, i| %>
            <label class = "space">
              <div class = "radio"><%= f.radio_button :images, polymorphic_url(image), checked: i==0, class: 'radiobtn', id: "radio-btn-image-select" %></div>
              <div class = "chooseimg"><%= image_tag(image, class: 'imgsize', id: "poster-image-select") %></div>
            </label>
          <% end %>
        </div>
        <p class="color--red pt-4" id="poster-image-select-warning">*สามารถเลือกรูปสำหรับทำโปสเตอร์ได้เพียง 1 รูปเท่านั้น</p>
        <% end %>
      </div>

      <div class="row mb-5">
        <div class="col-md-3 mb-5-mobile">
          <label class='font-weight600' id="poster-types-text">ประเภท</label>
          <%= f.input :type_id, label: false, :collection => Type.all.map{ |l| [l.type_name, l.id] }, include_blank: 'เลือก', :disabled => true, id: "poster-types-select-disabled" %>
        </div>

        <div class="col-md-3">
          <% if @post.category == 'lost_item' %>
            <label class='font-weight600' id="poster-date-text">วันที่หาย</label>
          <% elsif @post.category == 'found_item' %>
            <label class='font-weight600' id="poster-date-text">วันที่พบ</label>
          <% end %>
          <%= f.input :date, label: false, as: :date, html5: true, input_html: {}, :disabled => true, id: "poster-date-input-disabled" %>
        </div>

      </div>

      <div class="form-group mb-5 col-md-9">
        <label class='font-weight600' id="poster-location-text">สถานที่</label>
        <%= f.input :location, label: false,
          input_html: { data: { maps_target: "field", action: "maps#setAutocomplete" }}, :disabled => true, id: "poster-location-input-disabled" %>
      </div>

      <div class="form-group mb-5 pb-5 col-md-9">
        <label class='font-weight600' id="poster-detail-text">รายละเอียด</label>
        <%= f.input :detail, as: :text, :input_html => { :rows => 7 , :style => 'height: 100%',
          data: { detail_length_target: "detail", action: "input->detail-length#checkLength" }, id: "poster-detail-input"},
          label: false, error: 'สามารถใส่ข้อความได้สูงสุดไม่เกิน 500 ตัวอักษร' %>
      </div>
      <hr>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end layout-05">
        <%= link_to "ยกเลิก", "/posts/#{@post.id}", class: "btn btn--outline-primary poster" , id: 'cancel-create-poster-button'%>
        <%= f.button :button, "สร้างโปสเตอร์", type: "submit", class: "btn--primary poster", id: 'create-poster-submit-button', data: {action: "click->delay-redirect#link"} %>
      </div>
    </div>
  </div>
  <% end %>

