
<div class = "printable">
  <div class = "printhead">
    <b><p class="title"><%= @post.lost_item? ? 'โพสต์ตามหา': 'โพสต์ตามหาเจ้าของ' %></p></b>
  </div>

  <div class = "printbody">
    <%= image_tag(@p["images"], class:"posterimg") %>

    <div class="row">
      <b><p class="name"><%= @post.name %></p></b>
    </div>

    <div class="row">
      <div class="col">
        <b><p class="data">
          <%= @post.lost_item? ? 'วันที่หาย: ': 'วันที่เจอ: ' %>
          <span data-datetime="<%= @post.date %>"></span>
        </p></b>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b><p class="data">สถานที่: <%= @post.location %></p></b>
      </div>
    </div>

    <div class="row py-1">
      <p class = "data"><%= @p["detail"] %></p>
    </div>
  </div>

  <hr class = "hrcontact">

  <div class = "printfoot">

    <div class = "row" style = "display: -webkit-box; display: -webkit-flex; display: flex;" >
      <div style = "margin-right: 5%; padding-top: 20px;">
        <% avatar_url = @post.user.avatar.attached? ? polymorphic_url(@post.user.avatar) : 'https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=' %>
        <p class="text-start"><%= image_tag(avatar_url, style:"width: 41px; height: 41px; object-fit: cover; border-radius: 50%;")  %></p>
      </div>
      <div style = "padding-top: 20px;">
        <b><%= @post.user.username %></b>

        <% if @post.user.tel? or @post.user.facebook? %>
          <% if @post.user.facebook? and @post.user.tel? %>
            <div class = "col" style = "display: -webkit-box; display: -webkit-flex; display: flex;">
              <div style = "margin-right: 5%;">
                ติดต่อ : <i class="fa-solid fa-phone" style="font-size: 12px;"></i> <%= @post.user.tel %>
              </div>
              <div>
                <i class="fa-brands fa-facebook-square" style="font-size: 14px;"></i> <%= @post.user.facebook %>
              </div>
            </div>
          <% elsif @post.user.tel? %>
            <div class = "col" style = "display: -webkit-box; display: -webkit-flex; display: flex;">
              <div style = "margin-right: 5px;">
                ติดต่อ : <i class="fa-solid fa-phone" style="font-size: 12px;"></i>
              </div>
              <div><%= @post.user.tel %></div>

            </div>
          <% elsif @post.user.facebook? %>
            <div class = "col" style = "display: -webkit-box; display: -webkit-flex; display: flex;">
              <div style = "margin-right: 5px;">
                ติดต่อ : <i class="fa-brands fa-facebook-square" style="font-size: 14px;"></i>
              </div>
              <div><%= @post.user.facebook %></div>

            </div>
          <% end %>

        <% else %>
          <div class = "col" style = "display: -webkit-box; display: -webkit-flex; display: flex;">
            <div style = "width: 300px; margin-right: 5%;">
              <p class="card-text"> ไม่มีข้อมูลการติดต่อ </p>
            </div>

          </div>
        <% end %>

        <% if @post.user.address? %>
            <% if !@post.user.not_show_address %>
              <div class = "col" style = "height: 50px; display: -webkit-box; display: -webkit-flex; display: flex;">
                <div>ที่อยู่: &nbsp;</div>
                <div style = "width: 620px;">
                  <p class = "address"><%= @post.user.address %></p>
                </div>
              </div>
            <% else%>
              <div style = "height: 50px;">
              </div>
            <% end %>
        <% else%>
          <div style = "height: 50px;">
          </div>
        <% end %>

      </div>
    </div>

  </div>

  <div class = "extra">
    <div class="qr-code">
      <img src="<%= PostersHelper.generate_qr(post_url(@post)).to_data_url %>" />
    </div>
    <div class="scan">สแกนที่นี่</div>
  </div>

</div>
