<div class="p-5 mb-4 bg-body rounded-5 poster-container">
  <div class="container-fluid py-5">
    <div class = "pagesize">
      <div class = "printable" style = "background-color: white; width: 21cm; height: 29.7cm;" >
        <div class = "printhead" style = "background-color: red; height: 12%; width: 21cm">
          <b><p style = "font-size: 80px; text-decoration: underline; color: white; text-align: center;"><%= @post.lost_item? ? 'โพสต์ตามหา': 'โพสต์ตามหาเจ้าของ' %></p></b>
        </div>
        <div class = "printbody" style = "padding: 30px; height: 75%;">
          <p class="text-center"><%= image_tag(@p["image"], style:"width: 100%; height:450px; object-fit: cover;")  %></p>

          <div class="row p-5">
            <b class="text-center" style="font-size:30px; text-decoration: underline;"><%= @post.name %></b>
          </div>

          <div class="d-flex justify-content-center" >
            <p class="text-center font-weight800"><%= @post.lost_item? ? 'วันที่หาย: ': 'วันที่เจอ: ' %></p>&nbsp;
            <p class="text-center font-weight800" data-controller="datetime" data-datetime-date-value="<%= @post.date %>" data-datetime-format-value='DD MMMM YYYY' data-datetime-target="output"></p>
          </div>

          <div class="d-flex justify-content-center">
            <b class="text-center">สถานที่: <%= @post.location %></b>
          </div>

          <div class="row py-1">
            <p style="text-align: center;"><%= @p["detail"] %></p>
          </div>
        </div>
        <div class = "printfoot" style = "padding: 0 50px; margin-top: auto; height: 13%;">
          <hr>
          <div class="row">
            <div class="col col-sm-1 py-5 ">
              <% avatar_url = @post.user.avatar.attached? ? @post.user.avatar : 'https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=' %>
              <p class="text-start"><%= image_tag(avatar_url, style:"width: 40px; height: 40px; object-fit: cover;", class: "rounded-circle")  %></p>
            </div>

            <div class="col col-md-9 py-5">
              <div class="row">
                <b><%= @post.user.username %></b>
              </div>

              <div class="row">
                <div class="col-sm-7">
                  <b>ติดต่อ: </b><i class="fa-solid fa-phone" style="font-size: 20px;"></i> <%= @post.user.tel %>
                </div>

                <div class="col col-md-5">
                  <i class="fa-brands fa-facebook-square" style="font-size: 25px;"></i>
                  <%= @post.user.facebook %>
                </div>
              </div>
            </div>

            <div class="col">
              <p class="text-end qr-code">
                <img src="<%= PostersHelper.generate_qr(post_url(@post)).to_data_url %>" />
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<div class="no-print">
  <div class="d-flex justify-content-center">
    <%= link_to "กลับ", new_post_poster_path(@post), class: "btn btn-secondary"%>
    <%= link_to 'print', 'your_link_here', :onclick => 'window.print();return false;', class: "btn btn-warning"%>

    <%= form_for @post, { url: post_posters_path(@post, format: :pdf), method: "get" } do |f| %>
      <%= f.hidden_field :detail, value: "#{@p["detail"]}" %>
      <%= f.hidden_field :image , value: "#{(@p["image"])}" %>

      <div class="text-center">
        <%= f.submit "Download", type: "submit",class: "btn btn-primary",:target => '_blank' %>
      </div>
    <% end %>
  </div>
<div>
<br>
