<div style="margin:30px; padding:20px; border:20px">
  <div class="container">
    <div class="row ">
      <div class="p-5 mb-4 bg-body rounded-5" style="border: 1px solid;">
        <div class="container-fluid py-5">
          <h4 class="border-bottom pb-4 mb-0">แก้ไขโปรไฟล์</h4>
          <br>
          <div class="row mb-2">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="row">
                <div class="col-md-5 col-lg-3 text-center" style="width: fit-content" data-controller="file-image">
                  <% if current_user.avatar.present? %>
                    <%= image_tag(current_user.avatar, data:{ file_image_target: "image" }, style:"width: 310px; height: 310px; object-fit: cover; border-radius: 25px; ", class: "card-img-top") %>
                  <% else %>
                    <img , data-file-image-target="image"  alt="image" class="card-img-top" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" style = "width: 250px; height: 250px; object-fit: cover; border-radius: 25px;">
                  <% end %>
                  <br>
                  <br>
                  <div class="image-upload">
                    <label for="file-input">
                      <span class="btn btn--secondary">อัพเดตรูปโปรไฟล์</span>
                    </label>
                    <%= f.file_field :avatar, id: "file-input", style: "display: none;", data:{ action: "change->file-image#previewImage", file_image_target: "input" } %>
                  </div>
                  <p class="mt-3 color--red text-small"  >*ขนาดไฟล์รูปไม่เกิน 500 KB</p>
                </div>
                <div class="col-md-5 col-lg-8">
                  <div class="row g-5">
                    <div class="col-sm-4">
                      <div class="field">
                        <%= f.label :username, "ชื่อผู้ใช้" %><br />
                        <%= f.text_field :username, autofocus: true, style: "width: 100%; border-radius: 4px;", required: true %>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="field">
                        <%= f.label :email, "อีเมล" %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" , disabled: true, style: "width: 100%; border-radius: 4px;" %>
                      </div>
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                    </div>
                    <div class="col-sm-4">
                      <div class="field">
                        <%= f.label :tel, "เบอร์ติดต่อ" %><br />
                        <%= f.text_field :tel, autofocus: true, style: "width: 100%; border-radius: 4px;"%>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="field">
                        <%= f.label :facebook, "ชื่อ facebook" %><br />
                        <%= f.text_field :facebook, autofocus: true, style: "width: 100%; border-radius: 4px;" %>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="field">
                        <%= f.label :fblink, "ลิงค์ facebook" %><br />
                        <%= f.text_field :fblink, autofocus: true, style: "width: 100%; border-radius: 4px;" %>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <%= f.label :password, "รหัสผ่าน" %><br />
                      <%= link_to 'เปลี่ยนรหัสผ่าน', password_edit_users_settings_path, class: 'btn btn-dark', style: 'color:#FFCC00;' %>
                    </div>
                    <div class="col-sm-8">
                      <div class="field">
                        <%= f.label :address, "ที่อยู่" %><br />
                        <%= f.text_area :address, autofocus: true, class: "col-lg-11", style: "width: 100%; border-radius: 4px; height: 70px;" %>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <%= f.check_box :not_show_address, style: 'accent-color: black;' %>
                        <%= f.label 'ไม่แสดงที่อยู่ของฉัน' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><hr>
              <br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="actions">
                  <%= link_to "ยกเลิก", root_path, class: "btn btn-outline-warning"%>
                  <%= f.submit "บันทึก",  class: "btn btn-warning" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
