<div class="container" data-controller="redirect-home">
  <%if flash[:notice] == 'Successful Update' %>
    <div class="alert alert-success" id="Successful_Update">บันทึกข้อมูลโปรไฟล์สำเร็จ</div>
  <% end %>
  <%if flash[:notice] == 'Password Successful Update' %>
    <div class="alert alert-success" id="Password_Successful_Update">เปลี่ยนรหัสผ่านสำเร็จ</div>
  <% end %>
</div>
<div class="container overflow-hidden layout-10 profile">
  <div class="layout-06"></div>
  <div class="bg-body card-form padding-box">
    <h4 class="text-header4">แก้ไขโปรไฟล์</h4>
    <div class="d-none d-md-block"></div>
    <hr class="underline-title">
    <div class="row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
          <div class="row">
            <div class="col-md-4 col-lg-auto layout-05 text-center" data-controller="file-image">
              <div class="profile-image">
                <% if current_user.avatar.present? %>
                  <%= image_tag(current_user.avatar, data:{ file_image_target: "image" }, class: "card-img-top w-100") %>
                <% else %>
                  <img , data-file-image-target="image"  alt="image" class="card-img-top w-100" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=">
                <% end %>
              </div>
              <label for="file-input" style="width: 100%;">
                <div class="d-grid layout-05">
                  <span class="btn-size--md btn--secondary px-3">อัพเดตรูปโปรไฟล์</span>
                  <%= f.file_field :avatar, id: "file-input", class: "d-none", data:{ action: "change->file-image#previewImage", file_image_target: "input" } %>
                </div>
              </label>
              <p class="text-body3 color--red layout-04">*ขนาดไฟล์รูปไม่เกิน 500 KB</p>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-md-4 layout-05">
                  <%= f.label :username, "ชื่อผู้ใช้" %>
                  <%= f.text_field :username, autofocus: true, required: true, class: "form-control w-100" %>
                  <%if resource.errors.full_messages_for(:username).first == "Username has already been taken" %>
                    <p class="text-danger pt-3" id="username-error">ชื่อผู้ใช้นี้ถูกใช้งานแล้ว</p>
                  <% end %>
                </div>
                <div class="col-md-4 layout-05">
                  <%= f.label :email, "อีเมล" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" , disabled: true, class: "form-control w-100" %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                </div>
                <div class="col-md-4 layout-05">
                  <%= f.label :tel, "เบอร์ติดต่อ" %><br />
                  <%= f.text_field :tel, autofocus: true, class: "form-control w-100"%>
                </div>
                <div class="col-md-4 layout-05">
                  <%= f.label :facebook, "ชื่อ facebook" %><br />
                  <%= f.text_field :facebook, autofocus: true, class: "form-control w-100" %>
                </div>
                <div class="col-md-4 layout-05">
                  <%= f.label :fblink, "ลิงค์ facebook" %><br />
                  <%= f.text_field :fblink, autofocus: true, class: "form-control w-100" %>
                </div>
                <div class="col-md-4 layout-05">
                  <%= f.label :password, "รหัสผ่าน" %>
                  <div class="d-grid">
                    <%= link_to 'เปลี่ยนรหัสผ่าน', password_edit_users_settings_path, class: 'btn-size--sm btn--secondary px-2' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 layout-05">
                    <%= f.label :address, "ที่อยู่" %><br />
                    <%= f.text_area :address, autofocus: true, class: "form-control form-textarea", rows: "5" %>
                  </div>
                  <div class="col-lg-4 layout-05">
                    <div class="form-check mt-1">
                      <label class="pointer">
                        <div class="form-check-address">
                          <%= f.check_box :not_show_address %> ไม่แสดงที่อยู่ของฉัน
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-05"></div>
          <hr class="hr-black">
          <div class="layout-05"></div>
          <div class="actions">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <%= link_to "ยกเลิก", root_path, class: "btn-size--md btn--outline-secondary me-md-3"%>
              <%= f.submit "บันทึก",class: "btn-size--md btn--primary" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
