<div class="container container-register">
  <div class="card card-register">
    <a class="navbar-brand logo-register">
      <%= image_tag 'logo-color.svg', alt: '' %>
    </a>
    <p class="text-register">สร้างบัญชีผู้ใช้</p>

    <button type="button" class="btn btn-outline-dark">
        <i class="fab fa-google"></i> สร้างบัญชีด้วย Google
    </button>

    <p class= "choice"><span class= "choice">หรือ</span></p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {controller: "confirm-email live-validate", turbo: false}) do |f| %>
      <div class='pb-4 pt-2'>
        <label class='pb-3'>ชื่อผู้ใช้</label>
        <%= f.input :username, label: false, error: false,
            input_html: { data: {
            live_validate_target: 'username',
            action: "input->live-validate#checkUsername"
            }, id: 'signup-username-input', class: "signup"} %>

        <%if resource.errors.full_messages_for(:username).first == "Username can't be blank" %>
          <p class="text-danger pt-3" id="signup-username-error">กรุณากรอกชื่อผู้ใช้</p>
        <% end %>
        <%if resource.errors.full_messages_for(:username).first == "Username has already been taken" %>
          <p class="text-danger pt-3" id="signup-username-error">ชื่อผู้ใช้นี้ถูกใช้งานแล้ว</p>
        <% end %>
      </div>
      <div class='pb-3'>
        <label class='pb-3'>อีเมล</label>
        <%= f.input :email, label: false, error: false,
            input_html: { data: {
            live_validate_target: 'email',
            action: "input->live-validate#checkEmail"
            }, id: 'signup-email-input', class: "signup"} %>

        <% if resource.errors.key?(:email)%>
            <%if resource.errors.full_messages_for(:email).first == "Email can't be blank" %>
              <p class="text-danger pt-3" id="signup-email-error">กรุณากรอกอีเมล</p>
            <% end %>
            <%if resource.errors.full_messages_for(:email).first == "Email has already been taken" %>
              <p class="text-danger pt-3" id="signup-email-error">อีเมลนี้ถูกใช้งานแล้ว</p>
            <% end %>
            <%if resource.errors.full_messages_for(:email).first == "Email is invalid" %>
              <p class="text-danger pt-3" id="signup-email-error">อีเมลไม่ถูกต้อง</p>
            <% end %>
        <% end %>
      </div>

      <div class = "pb-3" data-controller="password-toggle">
        <%= f.label "รหัสผ่าน", class: "pb-3" %>
        <div class="tool"><i class="fas fa-info-circle"></i>
          <span class="tooltiptext">ใช้อักขระ <%= @minimum_password_length %> ตัวขึ้นไป</span>
        </div>
        <%= f.input :password, autocomplete: "new-password", label_html: {class: 'pb-3'}, error: false, label: false,
            input_html: { data: {
            live_validate_target: 'password',
            password_toggle_target: 'password',
            action: "input->live-validate#checkPassword"
            }, id:"password", class: "signup"} %>

        <i class="fas fa-eye signup" id="eye" data-action="click->password-toggle#password" data-password-toggle-target="eye" ></i>
      </div>

      <% if resource.errors.key?(:password)%>
        <p class="text-danger" id="signup-password-error">กรุณาตั้งรหัสด้วยอักขระ 8 ตัวขึ้นไป</p>
        <input type='hidden' value='กรุณาตั้งรหัสด้วยอักขระ 8 ตัวขึ้นไป' id='passerror'>
      <% end %>

      <div class="actions justify-content-center py-5" >
        <%= f.submit "สร้างบัญชี", class: "btn btn-register",  data: {action: "click->confirm-email#click"} %>
      </div>

    <% end %>
      <%= render 'modal_email_confirm' %>

      <%- if controller_name != 'sessions' %>
        <div class = "d-flex justify-content-center"><p class="pe-2">มีบัญชีผู้ใช้อยู่แล้ว?<p><b><%= link_to "เข้าสู่ระบบ", new_session_path(resource_name) %></b></div><br />
      <% end %>
  </div>
</div>


