<div class="container" style="width:580px; height:700px; background-color:white; border-radius: 15px;">

  <div class="card p-4 mt-4 mb-5" style="width:380px; height:500px; margin:auto; border: 0; padding: 20px;">

    <a class="navbar-brand" href="#" style="text-align:center; margin-top: 15px;">
      <%= image_tag 'logo_nav.png', alt: '' %>
    </a>
    <p style="text-align:center; padding-top: 30px; font-size:20px; font-weight: bold;">สร้างบัญชีผู้ใช้</p>

    <button type="button" class="btn btn-outline-dark">
        <i class="fab fa-google"></i> สร้างบัญชีด้วย Google
    </button>

    <div class = "choice" style = "text-align: center;">
      <p style="width: 100%; border-bottom: 1px solid #000; line-height: 0.5em; margin: 10px 0 20px; padding-top:20px;"><span style="background:#fff; padding:0 20px;">หรือ</span></p>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field" style = "padding: 10px;">
        <%= f.label "ชื่อผู้ใช้", style: "padding-bottom:8px" %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "firstname", class: "form-control", style: "border-color: black;", :required => true %>
      </div>

      <div class="field" style = "padding: 10px;">
        <%= f.label "อีเมล", style: "padding-bottom:8px" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "border-color: black;", :required => true %>
      </div>

      <div class="field" style = "padding: 10px;" data-controller="password-toggle">
        <%= f.label "รหัสผ่าน", style: "padding-bottom:8px" %>
        <div class="tool"><i class="fas fa-info-circle"></i>
          <span class="tooltiptext">(ใช้อักขระ <%= @minimum_password_length %> ตัวขึ้นไป)</span>
        </div>
        <div class="card border-dark" style=" color: #FBD034FF; font-size: 25px; border-radius: 10px;">
          <div class = "d-flex justify-content-around">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" ,style: "border: 0;", :required => true, id: "password" %>
              <div class="pt-1 pe-3" style="border: 0;" >
                <span><i class="fas fa-eye" style="color:black; font-size: 25px;" id="eye" data-action="click->password-toggle#password"></i></span>
              </div>
          </div>
        </div>
      </div>

      <div class="actions" style="text-align:center; padding: 20px 0;">
        <%= f.submit "สร้างบัญชี", class: "btn" , style: "background-color:black; color:#FBD034FF; width:100%;" %>
      </div>

    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
