<div id="<%= dom_id found %>">
  <p>
    <strong>Name:</strong>
    <%= found.name %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= found.types %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= found.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= found.time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= found.location %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= found.detail %>
  </p>

</div>
