<div id="<%= dom_id found %>">
  <p>
    <strong>Name:</strong>
    <%= found.name %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= found.types %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= found.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= found.time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= found.location %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= found.detail %>
  </p>

  <p> 
    <strong>Images:</strong>
    <% if found.images.attached? %>
      <% found.images.each do |pic| %>
        <%= image_tag(pic, style:"width:150px; height:150px") %>
      <% end %> 
    <% end %>
  </p>

</div>
