<div class="container">
  <div class="row ">
    <div class="row justify-content-md">
      <div class="fs-2 col col-lg-2">
        <%= link_to edit_user_registration_path, class: "text-decoration-none" do %>
          <i class="fa-solid fa-arrow-left"></i> ย้อนกลับ
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="user-profile mb-4 bg-body rounded-5" style="border: 1px solid;">
    <div class="container-fluid py-5">
      <h4 class="border-bottom pb-4 mb-0">เปลี่ยนรหัสผ่าน</h4>
      <br>
      <%= simple_form_for(@user, url:  password_users_settings_path, method: :put, data: {turbo: false}) do |f| %>
        <% if @password_duplicate %>
          <div class="alert alert-danger" role="alert">
            รหัสผ่านใหม่ ไม่ควรเหมือนกับรหัสผ่านเดิม โปรดลองอีกครั้ง
          </div>
        <% end %>
        <% if @user.errors.present? %>
          <div class="alert alert-danger" role="alert">
            รหัสผ่านใหม่กับยืนยันรหัสผ่านไม่ตรงกัน โปรดลองอีกครั้ง
          </div>
        <% end %>
        <div class="col-lg-4">
          <div class="mb-3">
            <%= f.label :current_password, "รหัสผ่านปัจจุบัน", class: "form-label" %><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "current-password", type: "text" %>
          </div>
        </div>
        <br>
        <div class="col-lg-4">
          <div class="mb-3" data-controller="password-toggle">
            <%= f.label :password, "รหัสผ่านใหม่", class: "form-label" %>
            <div class="tool">
              <i class="fas fa-info-circle"></i>
              <span class="tooltiptext new-password">
                <div class="tooltip-text01"> ใช้อักขระ 8 ตัวขึ้นไป /&nbsp;</div>
                <div class="tooltip-text02"> ไม่สามารถใช้ซ้ำกับรหัสเดิมได้ </div>
              </span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control new-password mt-1", type: "password", id: "password", data: { password_toggle_target: "password" }  %>
            <i class="fa-regular fa-eye change-password" id="eye" data-action="click->password-toggle#password" data-password-toggle-target="eye"></i>
          </div>
        </div>
        <br/>
        <div class="col-lg-4">
          <div class="mb-3" data-controller="password-toggle">
            <%= f.label :password_confirmation, "ยืนยันรหัสใหม่ผ่าน", class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", type: "password", id: "password-confirmation", data: { password_toggle_target: "password" } %><br />
            <i class="fa-regular fa-eye change-password-confirmation" id="eye" data-action="click->password-toggle#password" data-password-toggle-target="eye" ></i>
          </div>
        </div>
        <br><hr>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="actions">
            <%= link_to 'ยกเลิก', edit_user_registration_path, class: "btn btn--outline-primary-hover btn--w-100" %>
            <%= f.submit "บันทึก",  class: "btn btn--primary-weight mt-3 mt-md-0 btn--w-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

