<div class="container">
  <div class="row ">
    <div class="row justify-content-md">
      <div class="fs-2 col col-lg-2">
        <%= link_to edit_user_registration_path, class: "text-decoration-none" do %>
          <i class="fa-solid fa-arrow-left"></i> ย้อนกลับ
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="user-profile mb-4 bg-body rounded-5" style="border: 1px solid;">
    <div class="container-fluid py-5">
      <div class="edit-profile-title text-header4 font-weight600 mb-0">เปลี่ยนรหัสผ่าน</div>
      <hr>
      <br>
      <%= simple_form_for(@user, url:  password_users_settings_path, method: :put, data: {controller: 'change-password', turbo: false}) do |f| %>
        <% if @password_duplicate %>
          <div class="alert alert-danger" role="alert">
            รหัสผ่านใหม่ ไม่ควรเหมือนกับรหัสผ่านเดิม โปรดลองอีกครั้ง
          </div>
        <% end %>
        <% if @user.errors.full_messages_for(:password_confirmation).first == "Password confirmation doesn't match Password" %>
          <div class="alert alert-danger" role="alert">
            รหัสผ่านใหม่และยืนยันรหัสใหม่ไม่ตรงกัน โปรดลองอีกครั้ง
          </div>
        <% end %>
        <% if @user.errors.full_messages_for(:current_password).first == "Current password is invalid" %>
          <div class="alert alert-danger" role="alert">
              รหัสผ่านปัจจุบันไม่ถูกต้อง โปรดลองอีกครั้ง
          </div>
        <% end %>
        <% if @user.errors.full_messages_for(:password).first == "Password is too short (minimum is 8 characters)" %>
          <div class="alert alert-danger" role="alert">
              รหัสผ่านใหม่น้อยกว่า 8 ตัว โปรดลองอีกครั้ง
          </div>
        <% end %>
        <% if @user.errors.full_messages_for(:password).first == "Password should not be in Thai" %>
          <div class="alert alert-danger" role="alert">
              รหัสผ่านไม่ควรเป็นภาษาไทย
          </div>
        <% end %>
        <div class="col-lg-4">
          <div class="mb-3">
            <%= f.label :current_password, "รหัสผ่านปัจจุบัน", class: "form-label" %><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "current-password", type: "password", data: { change_password_target: "currentpassword", action: "input->change-password#checkCurrentPassword" } %>
            <p class="text-danger pt-3 d-none" id="current-password-error">กรุณากรอกรหัสผ่านปัจจุบัน</p>
          </div>
        </div>
        <br>
        <div class="col-lg-4">
          <div class="mb-3" data-controller="password-toggle">
            <div class="tool">
            <%= f.label :password, "รหัสผ่านใหม่", class: "form-label" %>
              <i class="fas fa-info-circle"></i>
              <span class="tooltiptext new-password">
                <div class="tooltip-text01"> ใช้อักขระ 8 ตัวขึ้นไป /&nbsp;</div>
                <div class="tooltip-text02"> ไม่สามารถใช้ซ้ำกับรหัสเดิมได้ </div>
              </span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control new-password mt-1", type: "password", id: "password", data: { password_toggle_target: "password", change_password_target: "password", action: "input->change-password#checkPassword" }  %>
            <i class="fa-regular fa-eye change-password" id="eye" data-action="click->password-toggle#password" data-password-toggle-target="eye"></i>
            <p class="text-danger pt-3 d-none" id="password-error">กรุณากรอกรหัสผ่านใหม่</p>
          </div>
        </div>
        <br/>
        <div class="col-lg-4">
          <div class="mb-3" data-controller="password-toggle">
            <%= f.label :password_confirmation, "ยืนยันรหัสผ่านใหม่", class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", type: "password", id: "password-confirmation", data: { password_toggle_target: "password", change_password_target: "confirmpassword", action: "input->change-password#checkConfimPassword" } %>
            <i class="fa-regular fa-eye change-password-confirmation" id="eye" data-action="click->password-toggle#password" data-password-toggle-target="eye" style="margin-top: -29px;"></i>
            <p class="text-danger d-none" id="password-confirmation-error">กรุณากรอกยืนยันรหัสผ่านใหม่</p>
          </div>
        </div>
        <br><hr>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="actions">
            <%= link_to 'ยกเลิก', edit_user_registration_path, class: "btn-size--md btn--outline-secondary me-md-3" %>
            <%= f.submit "บันทึก",  class: "btn-size--md btn--primary", data: {action: 'change-password#validateForm'} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

