<div class="container padding-15">
  <div class="row justify-content-between align-items-center layout-03">
    <div class="col-md-auto order-md-last mb-5 mb-md-0">
      <%= link_to notifications_path do %><p class="text-body"> ดูทั้งหมด </p> <% end %>
    </div>
    <div class="col-md-5 w-auto">
      <b class="text-subtitle" >การแจ้งเตือน</b>
    </div>
  </div>
  <ul class="nav tab-notifications" role="tab" id="modal-notification-tab">
    <li class="nav-item" role="presentation">
      <button class="btn tab active" id="modal-all-button" type="radio" role="tab"
        data-bs-toggle="tab" data-bs-target="#all-noti-tab" >
        ทั้งหมด
      </button>
    </li>
    <li class="nav-item">
      <button class="btn tab " type="radio" id="modal-unread-button" role="tab"
        data-bs-toggle="tab" data-bs-target="#unread-noti-tab" >
        ยังไม่ได้อ่าน
      </button>
    </li>
  </ul>
  <div class="tab-content" id="noti">
    <div id="all-noti-tab" class="tab-pane fade show active target" role="tabpanel" aria-labelledby="all-noti-tab" tabindex="0">
      <% if notifications.count == 0 %>
        <%= render 'notifications/count_is_zero' %>
      <% end %>
      <% notifications.each do |notification| %>
        <hr class="margin">
        <%= render 'notifications/notification', notification: %>
      <% end %>
    </div>
    <div id="unread-noti-tab" class="tab-pane fade target" role="tabpanel" aria-labelledby="unread-noti-tab" tabindex="0">
      <% if unread_notifications.count == 0 %>
        <%= render 'notifications/count_is_zero' %>
      <% end %>
      <% unread_notifications.each do |notification| %>
        <hr class="margin">
        <%= render 'notifications/notification', notification: %>
      <% end %>
    </div>
  </div>
</div>


