<div style="margin:30px; padding:20px; border:20px">
  <div class="container">
    <div class="row ">
      <div class="p-5 mb-4 bg-body rounded-5" style="border: 1px solid;">
          <div class="container-fluid py-5">
            <h4>การแจ้งเตือน</h4>
            <br>
            <%= search_form_for @q do |f| %>
              <%= f.hidden_field :tab, value: 'unread' %>
              <%= f.hidden_field :read_at_null, value: 1 %>
              <div class="btn-group tabs" role="group">
                <%= link_to 'ทั้งหมด', notifications_path , class: "btn #{@tab == 'all' ? 'btn btn--secondary' : 'btn--outline-secondary'}"%>
                <%= f.button 'ยังไม่ได้อ่าน', type: 'submit', class: "btn #{@tab == 'unread' ? 'btn btn--secondary' : 'btn--outline-secondary'}"%>
              </div>
            <% end %>
            <br><br>
            <% @notifications.each do |n|  %>
              <% next if current_user.id == n.params[:comment].user_id %>
                <%= link_to post_path(n.params[:comment].post) , class: "nav-link" do %>
                <div class="row">
                  <div class="d-flex flex-start align-items-start">
                    <div class="user-avatar">
                      <% if n.params[:comment].user.avatar.present? %>
                        <div class="d-inline-flex position-relative light">
                            <div class="d-inline-flex position-relative">
                              <% if n.unread? %>
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="margin-left: -20px; margin-top: 6px;">
                                  <span class="visually-hidden">New alerts</span>
                                </span>
                              <% end %>
                              <%= image_tag(n.params[:comment].user.avatar, style:"width: 50px; height: 50px; object-fit: cover;", class: "rounded-circle shadow-1-strong me-4") %>
                            </div>
                        </div>
                      <% else %>
                        <div class="d-inline-flex position-relative light">
                          <div class="d-inline-flex position-relative">
                            <% if n.unread? %>
                              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="margin-left: -20px; margin-top: 6px;">
                                <span class="visually-hidden">New alerts</span>
                              </span>
                            <% end %>
                            <img alt="image" class="rounded-circle shadow-1-strong me-3" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" style = "width: 50px; height: 50px; object-fit: cover;">
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="comment-body">
                      <p>
                        <p>
                          <span class="user-comment fw-bold">
                            <%= n.params[:comment].user.username %>
                              &nbspได้แสดงความคิดเห็น
                          </span>
                          <%= n.params[:comment].content %>
                        </p>
                        <p data-controller="datetime" data-datetime-date-value="<%= n.params[:comment].created_at %>" data-datetime-format-value='DD MMMM YYYY | HH:mm' data-datetime-target="output"></p>
                      </p>
                    </div>
                  </div>
                </div>
                <br><hr>
              <% end %>
            <% end %>
            <%= paginate @notifications %>
          </div>
      </div>
    </div>
  </div>
</div>
