<% if resource.errors.any? && resource.errors[:email] != ["can't be blank"] %>
  <div class="modal fade" id="forgot-password" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
    data-controller="forgot-password" data-forgot-password-target="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content forgot-password-modal">
        <div class="modal-body layout-03">
          <div class="row d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row layout-05">
            <div class="col-lg-12 d-flex justify-content-center">
              <h4>ส่งอีเมลไม่สำเร็จ</h4>
            </div>
            <div class="col-lg-12 mt-5 d-flex justify-content-center text-center">
              <p>ไม่สามารถส่งข้อความไปยังอีเมลตามที่คุณกรอกไว้ กรุณากรอกอีเมลใหม่อีกครั้ง</p>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn--primary spacing-09" data-bs-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if params[:success] == 'true' %>
  <div class="modal fade" id="forgot-password" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
    data-controller="forgot-password" data-forgot-password-target="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content forgot-password-modal">
        <div class="modal-body layout-03">
          <div class="row d-flex justify-content-end">
            <%= link_to "", new_session_path(resource_name), class: "btn-close" %>
          </div>
          <div class="row layout-05">
            <div class="col-lg-12 d-flex justify-content-center">
              <h4>เช็คอีเมลในกล่องข้อความของคุณ</h4>
            </div>
            <div class="col-lg-12 mt-5 d-flex justify-content-center text-center">
              <p>เราได้ทำการส่งอีเมลเพื่อเปลี่ยนรหัสผ่านผู้ใช้งานของคุณไปที่อีเมล
                กรุณาเช็คอีเมลในกล่องข้อความของคุณที่ <%= params[:email] %>
              </p>
            </div>
            <div class="col-lg-12 mt-5 d-flex justify-content-center">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name),
              html: { "data-turbo": "false", method: :post }) do |f| %>
                <div class="row layout-05">
                  <div class="col-lg-12 d-flex justify-content-center">
                    <div class="field">
                      <%= f.hidden_field :email, autofocus: true, autocomplete: "email",
                      class: "form-control", value: params[:email] %>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-5 d-flex justify-content-center">
                    <p>ไม่ได้รับอีเมล?<%= f.submit "ส่งอีกครั้ง", class: "btn btn--send-again"%></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <%= link_to "ปิด", new_session_path(resource_name), class: "btn btn--primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
