<%= form_for(resource, as: resource_name, url: password_path(resource_name),
    html: { method: :put },
    data: {controller: "password-toggle reset-password", turbo: "false"}) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="container password-field  mb-5">
      <div class="row text-center">
        <div class="col-lg-12 layout-05">
          <h4 style="font-size:25px;">ตั้งรหัสผ่าน</h4>
        </div>
        <div class="col-lg-12 layout-05">
          <p style="font-size:16px;">ตั้งรหัสผ่านใหม่</p>
          <p style="font-size:20px;"><%= @email %></p>
        </div>
      </div>
      <div class="field">
        <div class="input-group d-lg-flex mt-5 mb-3">
          <%= f.password_field :password, autocomplete: "new-password", autofocus: true, class: "form-control",  placeholder: "รหัสผ่าน", id: "password", data: { password_toggle_target: 'password' } %>
          <i class="fa-regular fa-eye position-absolute top-50 end-0 translate-middle-y me-3"  id="eye" data-action="click->password-toggle#password" data-password-toggle-target="eye" ></i>
        </div>
        <% if resource.errors.full_messages_for(:password).first == "Password can't be blank" %>
          <p class="text-danger"style="font-size:16px">กรุณากรอกรหัสผ่านใหม่</p>
        <% end %>
        <br>
        <% if resource.errors.full_messages_for(:password).first == "Password is too short (minimum is 8 characters)" %>
          <p class="text-danger" style="font-size:16px">• ใช้อักขระ <%= @minimum_password_length %> ตัวขึ้นไป</p>
        <% else %>
          <p style="font-size:16px">• ใช้อักขระ <%= @minimum_password_length %> ตัวขึ้นไป</p>
        <% end %>
        <% if resource.errors.full_messages_for(:password).first == "Password should not be in Thai" %>
          <p class="text-danger" style="font-size:16px">• รหัสผ่านไม่ควรเป็นภาษาไทย</p>
        <% else %>
          <p style="font-size:16px">• รหัสผ่านไม่ควรเป็นภาษาไทย</p>
        <% end %>
      </div>
      <div class=" mt-5 justify-content-center">
        <div class="actions">
          <%= f.submit "ดำเนินการต่อ", class: "btn btn--secondary forgot"%>
        </div>
      </div>
    </div>
<% end %>
<%= render 'modal_reset' %>

