<div data-controller="my-posts">
  <%= f.hidden_field "filter[#{category}][status]", value: filter.dig(category.to_sym, :status),
    data: { 'my-posts-target': 'statusInput' } %>

  <div class="form-check form-check-inline ps-0 ps-md-5">
    <%= check_box_tag '', 'active', filter.dig(category.to_sym, :status) == 'active', {
      data: {
        action: 'input->my-posts#checkboxChange',
        'my-posts-target': 'activeCheckbox'
      }

    } %>
    <%= label_tag '', 'หาเจ้าของ' %>
  </div>

  <div class="form-check form-check-inline">
    <%= check_box_tag '', 'in_active', filter.dig(category.to_sym, :status) == 'in_active', {
      data: {
        action: 'input->my-posts#checkboxChange',
        'my-posts-target': 'inActiveCheckbox'
      }

    } %>

    <%= label_tag '', 'ปิดประกาศ' %>
  </div>
</div>
