<%
  q = @search.present? ? { name_cont: "#{@search}" } : nil

  if category == 'lost_item'
    link_posts = lost_posts_path(q:)
    header = 'ประกาศหาของหาย'
    date_label = 'วันที่หาย'
    location_label = 'สถานที่หาย'
  end

  if category == 'found_item'
    link_posts = found_posts_path(q:)
    header = 'ประกาศตามหาเจ้าของ'
    date_label = 'วันที่เจอ'
    location_label = 'สถานที่เจอ'
  end
%>

<div class="row g-">
  <div class="col-md-5 col-lg-4 order-md-last">
    <p class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-primary"></span>
      <span><%= link_to 'ดูรายการทั้งหมด', link_posts %><i class="fa-solid fa-angles-right"></i></span>
    </p>
  </div>

  <div class="col-md-4 col-6">
    <h4 class="mb-2"><%= header %></h4>
  </div>

   <div class=" gap-2 col-lg-4 mx-auto">
    <% if tab == 'my_post' %>
      <%= render 'filter', f:, filter:, category: %>
    <% end %>
  </div>

</div>

<hr>

<div class="scrolling-wrapper d-flex flex-nowrap">
  <% posts.each do |post| %>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
      <div class="col-sm-6">
        <div class="card mb-2">
          <div class="row no-gutters">
            <div class="col-md-4 ">

              <% if post.images.attached? %>
                <% post.images.each do |img| %>
                  <%= image_tag(img, class: "img-thumbnail" , width: "150px" , hight: "150px") %>
                <% end %>
              <% else %>
                <img alt="image" class="img-thumnail" width="150 px" hight="150px"   src="https://c.ndtvimg.com/2020-08/h5mk7js_cat-generic_625x300_28_August_20.jpg?im=Resize=(1230,900)" >
              <% end %>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= post.name %></h5>
                <hr>
                <p class="card-text"><%= date_label %>:<%= post.date %></p>
                <p class="card-text"><%= location_label %>:<%= post.location %></p>
                <p class="card-text">	&bull; <%= post.status %></p><br>
                <p class="card-text">โพสต์เมื่อวันที่:<%= post.created_at %></p>
                <%= button_to "ดูรายละเอียด", post, id: "open-contacts-dialog-btn",
                    class: "inbox-sf-add-btn tip", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container px-md-0 pt-5">
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn--primary">
        <i class="fa-solid fa-circle-plus"></i><%= link_to new_post_path(), class: '' do %> สร้างโพสต์ <% end %>
      </button>
    </div>
    <div class="col-12 mt-5">
      <div class="d-flex justify-content-between align-items-center">
        <div class="subtitle">
          ตามหาของหาย
        </div>
        <a href="">ดูรายการทั้งหมด <i class="fa-solid fa-angles-right"></i></a>
      </div>

    </div>
  </div>
  <div class="found-lists mt-5">
    <div class="found-item">
      <div class="card">
        <%= image_tag 'https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/GXHMGQ4UAFCA3MUWIIN7NDMCZA.jpg', alt: '' %>
        <div class="card-body">
          <h5 class="card-title">ตามหา iphone 13 Pro</h5>
          <div class="mt-4"></div>
          <p class="card-text">วันที่หาย : 03/05/2022</p>
          <p class="card-text"><i class="fa-solid fa-location-dot"></i> MAYA Chiang Mai</p>
          <div class="d-flex align-items-center">
            <div class="circle-green"></div>
            <p class="mb-0 ms-3">กำลังตามหา</p>
          </div>
          <p class="fst-italic color-gray1 mt-5">โพสเมื่อวันที่ : 03/05/2022</p>
          <div class="d-grid">
            <a href="#" class="btn btn--outline-secondary">ดูรายละเอียด</a>
          </div>
        </div>
      </div>
    </div>
    <div class="found-item">
      <div class="card">
        <%= image_tag 'https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/GXHMGQ4UAFCA3MUWIIN7NDMCZA.jpg', alt: '' %>
        <div class="card-body">
          <h5 class="card-title">ตามหา iphone 13 Pro</h5>
          <div class="mt-4"></div>
          <p class="card-text">วันที่หาย : 03/05/2022</p>
          <p class="card-text"><i class="fa-solid fa-location-dot"></i> MAYA Chiang Mai</p>
          <div class="d-flex align-items-center">
            <div class="circle-green"></div>
            <p class="mb-0 ms-3">กำลังตามหา</p>
          </div>
          <p class="fst-italic color-gray1 mt-5">โพสเมื่อวันที่ : 03/05/2022</p>
          <div class="d-grid">
            <a href="#" class="btn btn--outline-secondary">ดูรายละเอียด</a>
          </div>
        </div>
      </div>
    </div>
    <div class="found-item">
      <div class="card">
        <%= image_tag 'https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/GXHMGQ4UAFCA3MUWIIN7NDMCZA.jpg', alt: '' %>
        <div class="card-body">
          <h5 class="card-title">ตามหา iphone 13 Pro</h5>
          <div class="mt-4"></div>
          <p class="card-text">วันที่หาย : 03/05/2022</p>
          <p class="card-text"><i class="fa-solid fa-location-dot"></i> MAYA Chiang Mai</p>
          <div class="d-flex align-items-center">
            <div class="circle-green"></div>
            <p class="mb-0 ms-3">กำลังตามหา</p>
          </div>
          <p class="fst-italic color-gray1 mt-5">โพสเมื่อวันที่ : 03/05/2022</p>
          <div class="d-grid">
            <a href="#" class="btn btn--outline-secondary">ดูรายละเอียด</a>
          </div>
        </div>
      </div>
    </div>
    <div class="found-item">
      <div class="card">
        <%= image_tag 'https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/GXHMGQ4UAFCA3MUWIIN7NDMCZA.jpg', alt: '' %>
        <div class="card-body">
          <h5 class="card-title">ตามหา iphone 13 Pro</h5>
          <div class="mt-4"></div>
          <p class="card-text">วันที่หาย : 03/05/2022</p>
          <p class="card-text"><i class="fa-solid fa-location-dot"></i> MAYA Chiang Mai</p>
          <div class="d-flex align-items-center">
            <div class="circle-green"></div>
            <p class="mb-0 ms-3">กำลังตามหา</p>
          </div>
          <p class="fst-italic color-gray1 mt-5">โพสเมื่อวันที่ : 03/05/2022</p>
          <div class="d-grid">
            <a href="#" class="btn btn--outline-secondary">ดูรายละเอียด</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
