
<%= render 'posts/search_form' %>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin:40px; padding:20px; border:20px">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"/>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner carousel">
    <div class="carousel-item active">
      <img src="https://www.sarakadee.com/blog/oneton/wp-content/uploads/2017/12/cat-cute-e1533862828469.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item carousel">
      <img src="https://m.thaiware.com/upload_misc/news/2018_05/728x409/13358_180504162925e1.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item carousel">
      <img src="https://www.naewna.com/uploads/news/source/506204.jpg" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class = "listposts">

  <h1>Found</h1>
  <div class="scroll">

      <% @founds.each do |found| %>
      <div class = "box">

        <div id = "imm">
        <% if found.images.attached? %>  
          <%= image_tag(found.images.first, style:"width: 150px; height: 150px; object-fit: cover;") if found.images.attached? %>
        <% else %>
        <img alt="image" class="" src="https://c.ndtvimg.com/2020-08/h5mk7js_cat-generic_625x300_28_August_20.jpg?im=Resize=(1230,900)" style = "width: 150px; height: 150px; object-fit: cover;">
        <% end %>
        </div>

        <div id = "namee">
          <strong>Name:</strong>
          <%= found.name %>
        </div>
        <div id = "datee">
          <strong>Date:</strong>
          <%= found.date %>
        </div>
        <div id = "locc">
          <strong>Location:</strong>
          <%= found.location %>
        </div>

        <div id = "linkk">
          <%= link_to "View Post >", found,style:"color: black; text-decoration: none;" %>
        </div>
      </div>
      <% end %>

  </div>

  <br><br>

  <h1>Lost</h1>
  <div class="scroll">

      <% @losts.each do |lost| %>
      <div class = "box">
        <div id = "imm">
        <% if lost.images.attached? %>
          <%= image_tag(lost.images.first, style:"width: 150px; height: 150px; object-fit: cover;") if lost.images.attached? %>
        <% else %>
        <img alt="image" class="" src="https://c.ndtvimg.com/2020-08/h5mk7js_cat-generic_625x300_28_August_20.jpg?im=Resize=(1230,900)" style = "width: 150px; height: 150px; object-fit: cover;">
        <% end %>
        </div>

        <div id = "namee">
          <strong>Name:</strong>
          <%= lost.name %>
        </div>
        <div id = "datee">
          <strong>Date:</strong>
          <%= lost.date %>
        </div>
        <div id = "locc">
          <strong>Location:</strong>
          <%= lost.location %>
        </div>

        <div id = "linkk">
          <%= link_to "View Post >", lost, style:"color: black; text-decoration: none;"%>
        </div>
      </div>
      <% end %>

  </div>

</div>
