<div class="">
  <%= render 'posts/search_form' %>
<div class="row">
  <div class="d-flex justify-content-end">
    <% if user_signed_in? %>
      <%= link_to "สร้างโพสต์", category_selects_posts_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div style="margin:30px; padding:20px; border:20px">
  <% if user_signed_in? %>
    <%= link_to 'รายการทั้งหมด', root_path, class: "btn btn-primary" %>
    <%= link_to 'รายการของฉัน', root_path(tab: 'my_post'), class: "btn btn-primary" %>
  <% end %>
</div>

<div class = "container listposts">
  <%= form_with(url: root_path, method: :get, id: 'homeFilter') do |f| %>
    <%= hidden_field_tag 'tab', @tab %>

    <div>
      <%= render 'post_content', posts: @losts, category: 'lost_item', tab: @tab, filter: @filter, f: %>

      <br><br>

      <%= render 'post_content', posts: @founds, category: 'found_item', tab: @tab, filter: @filter, f: %>
    </div>
  <% end %>
</div>
