<%= render 'posts/search_form' %>

<div class="listposts mt-14">
  <div class="container pt-5">
    <% if !user_signed_in? && (!params[:q].present? || !params[:q][:name_cont].present?) %>
      <div class="row justify-content-end align-items-center mb-5">
        <div class="col-md-auto order-md-last mb-5 mb-md-0">
          <a href="<%= category_selects_posts_path %>" id="button-create-post">
            <div class="btn btn--primary-posts btn--w-100" >
              <i class='fas fa-plus-circle'></i>
              <span class="text">สร้างโพสต์</span>
            </div>
          </a>
        </div>
      </div>
    <% end %>
    <% if params[:q].present? && params[:q][:name_cont].present? %>
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <div class="text-result-search">ผลลัพธ์การค้นหา
            <p>(<%= @posts.count %> รายการ)</p>
          </div>
          <hr class="m-0">
          <div class="search-value">
            <p class="text-body font-weight600">ค้นหา :</p>
            <div class="result-tag bg-color--primary200"> <%= params[:q][:name_cont] %></div>
          </div>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? && (!params[:q].present? || !params[:q][:name_cont].present?) %>
      <div class="row justify-content-between align-items-center mb-5">
        <div class="col-md-auto order-md-last mb-5 mb-md-0">
          <a href="<%= category_selects_posts_path %>" id="button-create-post">
            <div class="btn btn--primary-posts btn--w-100" >
              <i class='fas fa-plus-circle'></i>
              <span class="text">สร้างโพสต์</span>
            </div>
          </a>
        </div>
        <div class="col-md-5">
          <ul class="tabs">
            <% if @tab == 'my_post' %>
              <li class="tab-item" id="tab-all-post">
                <%= link_to 'รายการทั้งหมด', root_path , class: "btn btn--outline-secondary tab-link" %>
              </li>
              <li class="tab-item" id="tab-my-post">
                <%= link_to 'รายการของฉัน', root_path(tab: 'my_post'), class: "btn btn--secondary tab-link" %>
              </li>
            <% else %>
              <li class="tab-item" id="tab-all-post">
                <%= link_to 'รายการทั้งหมด', root_path, class: "btn btn--secondary tab-link" %>
              </li>
              <li class="tab-item" id="tab-my-post">
                <%= link_to 'รายการของฉัน', root_path(tab: 'my_post'), class: "btn btn--outline-secondary tab-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <%= form_with(url: root_path, method: :get, id: 'homeFilter') do |f| %>
      <%= hidden_field_tag 'tab', @tab %>
      <div>
        <%= render 'post_content', posts: @losts, category: 'lost_item', tab: @tab, filter: @filter, f: %>
        <br><br><hr class="style"><br>
        <%= render 'post_content', posts: @founds, category: 'found_item', tab: @tab, filter: @filter, f: %>
        <br><br><br>
      </div>
    <% end %>
  </div>
</div>
