<div id="<%= dom_id lost %>">
  <p>
    <strong>Name:</strong>
    <%= lost.name %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= lost.types %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= lost.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= lost.time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= lost.location %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= lost.detail %>
  </p>

  <p>
    <strong>Reward:</strong>
    <%= lost.reward %>
  </p>

</div>
