<div data-controller = 'notice'>
  <br>
  <div class="container" style="width:580px; height:100%; background-color:white; border-radius: 15px;">
    <div class="card p-4 mt-4 mb-5" style="width:380px; height:auto; margin:auto; border: 0; padding: 20px;">

      <a class="navbar-brand" href="/" style="text-align:center; margin-top: 15px;">
        <%= image_tag 'logo-color.svg', alt: '' %>
      </a>
      <p style="text-align:center; padding-top: 30px; font-size:20px; font-weight: bold;">เข้าสู่ระบบ</p>

      <% if flash[:notice].present? && flash[:notice] == 'Your email address has been successfully confirmed.' %>
        <div class = 'alert alert-success'>
          ยืนยันอีเมลสำเร็จแล้ว
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div class = 'alert alert-danger'>
          <% if flash[:alert] == 'You have to confirm your email address before continuing.'%>
            <i class="fas fa-exclamation-circle pt-2"></i>&emsp;โปรดยืนยันอีเมลของท่านก่อนเข้าสู่ระบบ
          <% elsif flash[:alert] == 'Invalid Email or password.'%>
            <% if @user[:encrypted_password].present? %>
              <i class="fas fa-exclamation-circle pt-2"></i>&emsp;อีเมลหรือรหัสผ่านของคุณไม่ถูกต้อง
            <% else %>
              <i class="fas fa-exclamation-circle pt-2"></i>&emsp;โปรดระบุรหัสผ่าน
            <% end %>
          <% elsif flash[:alert] == 'You need to sign in or sign up before continuing.'%>
            <i class="fas fa-exclamation-circle pt-2"></i>&emsp;กรุณาเข้าสู่ระบบ
          <% end %>
        </div>
      <% end %>

      <button type="button" class="btn btn-outline-dark">
          <i class="fab fa-google"></i> เข้าสู่ระบบด้วย Google
      </button>

      <div class = "choice" style = "text-align: center;">
        <p style="width: 100%; border-bottom: 1px solid #000; line-height: 0.5em; margin: 10px 0 20px; padding-top:20px;"><span style="background:#fff; padding:0 20px;">หรือ</span></p>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>

        <div class="field" style = "padding: 10px;">
          <%= f.label "อีเมล", class: "pb-3" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "border-color: black;", required: true %>
        </div>

        <div class="field" style = "padding: 10px;" data-controller="password-toggle">
          <%= f.label "รหัสผ่าน", class: "pb-3" %><br />
          <div class="card border-dark" style=" color: #FBD034FF; font-size: 25px; border-radius: 10px;">
            <div class = "d-flex justify-content-around">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", style: "border: 0;", id: "password" %>
                <div class="pt-1 pe-3" style="border: 0;">
                  <span><i class="fas fa-eye" id="eye" data-action="click->password-toggle#password"></i></span>
                </div>
            </div>
          </div>
        </div>

        <div class = "d-flex justify-content-between">
          <div class="field" style = "padding: 10px;">
          </div>

          <%- if devise_mapping.recoverable? %>
            <%= link_to "ลืมรหัสผ่าน?", new_password_path(resource_name),style:"padding-top:10px;"%>
          <% end %>
        </div>

        <div class="actions" style="text-align:center; padding: 20px 10px">
          <%= f.submit "เข้าสู่ระบบ", class: "btn" , style: "background-color:black; color:#FBD034; width:100%;" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <br>
</div>
