<%
  if category == 'lost_item'
    header = 'โพสต์ตามหาของหาย'
    date_label = 'วันที่หาย'
    location_label = 'สถานที่หาย'
  end

  if category == 'found_item'
    header = 'โพสต์ตามหาเจ้าของ'
    date_label = 'วันที่พบ'
    location_label = 'สถานที่เจอ'
  end

%>
<% @posts.each do |post| %>
  <div class="col-md-6 col-lg-3 grid mb-5">
    <article>
      <% if post.images.attached? %>
        <%= image_tag(post.images[0]) %>
      <% else %>
        <img alt="image" src="https://c.ndtvimg.com/2020-08/h5mk7js_cat-generic_625x300_28_August_20.jpg?im=Resize=(1230,900)" >
      <% end %>
      <div class="text">
        <div class="post-name font-weight700"><%= post.name %></div>
        <div class="col-md-12">
          <%= date_label %> : <span data-controller="datetime" data-datetime-date-value="<%= post.date %>" data-datetime-format-value='DD/MM/YYYY' data-datetime-target="output"></span>
        </div>
        <div class="post-location font-weight500"><i class="fa-solid fa-location-dot"></i> <%= post.location %></div>
        <% if post.active? %>
          <div class="post-status-active">
            <div class="circle-green"></div>
            <p class="mb-0 ms-3 text-small font-weight600">กำลังตามหา</p>
          </div>
        <% else %>
          <div class="post-status-inactive">
            <p class="text-small font-weight600 mb-0">ปิดโพสต์</p>
          </div>
        <% end %>
        <div class="fst-italic text-small color--secondary300">โพสต์เมื่อวันที่ : <span data-controller="datetime" data-datetime-date-value="<%= post.created_at %>" data-datetime-format-value='DD/MM/YYYY' data-datetime-target="output"></span></div>
        <div class="d-grid">
          <%= link_to "ดูรายละเอียด", post_path(post), class: "see-other-btn btn btn--outline-secondary" %>
        </div>
      </div>
    </article>
  </div>
<% end %>
