<%= simple_form_for @post, { data: { controller: 'maps' } } do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :status, value: 'no_found' %>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :lat, data: { maps_target: "latitude" } %>
  <%= f.hidden_field :lng, data: { maps_target: "longitude" } %>

  <%= f.label :name, "หัวข้อประกาศ" %>
  <%= f.input :name %>

  <%= f.label :type_id, "หมวดหมู่" %>
  <%= f.select :type_id, Type.all.map{ |l| [l.type_name, l.id] } %>

  <%= f.input :date, as: :datetime, html5: true %>

  <%= f.label :images, "อัปโหลดรูป" %>
  <%= f.input :images, as: :file, input_html: { multiple: true }  %>

  <%= f.label :detail, "รายละเอียดเพิ่มเติม" %>
  <%= f.input :detail %>

  <div class="form-group">
    <input class="form-control" type="text" data-maps-target="address" disabled>
  </div>

  <%= content_tag :div, nil, data: { action: 'google-maps-callback@window->maps#initializeMap', maps_target: "map" }, class: 'map' %>

  <%= f.button :button, "ยกเลิก", type: "reset", class: "btn-outline-secondary" %>
  <%= f.button :button, "สร้างโพสต์", type: "submit", class: "btn-primary" %>
<% end %>
