<% content_for :meta do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= post.name %>" />
  <meta property="og:description" content="<%= post.detail? ? post.detail : "ดูรายละเอียดเพิ่มเติมได้ที่นี่" %>" />
  <% if post.images.attached? %>
    <meta property="og:image" content="<%= polymorphic_url(post.images.order(created_at: :desc).first) %>" />
  <% else %>
    <meta property="og:image" content="https://c.ndtvimg.com/2020-08/h5mk7js_cat-generic_625x300_28_August_20.jpg?im=Resize=(1230,900)" />
  <% end %>
<% end %>

<div id="<%= dom_id @post %>">
  <div class="row manage-bar">
    <div class="col back-link">
      <%= link_to(root_path) do %>
          <i class="fa-solid fa-arrow-left"></i>
          ย้อนกลับ
      <% end %>
    </div>
    <div class="col-md-10 text-end">
      <% if user_signed_in? && post.owner?(current_user) && post.active? %>
      <div class="d-md-flex justify-content-end btn-right">
        <button type="button" class="btn bg-color--primary100-weight mt-3 mt-md-0" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-trash-can"></i>  ลบโพสต์</button>
        <button type="button" class="btn btn--outline-primary-width ms-0 ms-md-3 mt-3 mt-md-0" data-bs-toggle="modal" data-bs-target="#closePostModal">ปิดโพสต์นี้</button>
        <%= link_to 'แก้ไข', edit_post_path(post) , class: 'btn btn--primary-black ms-0 ms-md-3 mt-3 mt-md-0' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="card p-5 border-dark" style="border-radius: 15px">
      <div class="card-body">
        <div class="row m-2">
          <div class="col-md-8">
            <h3 class="card-title"><%= post.name %></h3>
          </div>
          <div class="col text-end">
            <% if post.active? %>
              <div class="status-tag active-status">
                <div class="dot-white"></div>
                <div class="status-text font-weight600">กำลังตามหา</div>
              </div>
            <% else %>
              <div class="status-tag inactive-status">
                <div class="status-text font-weight600">ปิดโพสต์</div>
              </div>
            <% end %>
            <div class="d-flex justify-content-end mt-3">
              <p class="fw-bold">วันที่โพสต์ :&nbsp;</p>
              <p data-controller="datetime" data-datetime-date-value="<%= post.created_at %>" data-datetime-format-value='DD MMMM YYYY' data-datetime-target="output"></p>
          </div>
          </div>
        </div>
        <hr style="height: 2px; background-color:black;">
        <div class="row post-body mt-5">

          <!-- Gallery image -->
          <div class="col-lg-6 post-image">
            <section class="gallery" data-controller="post-image">
              <div class="gallery-scroll" id="gallery-scroll">
                <% if post.images.attached? %>
                  <% post.images.each_with_index do |image, i| %>
                    <div class="gallery-item">
                        <input type="radio" id="img-<%= i %>" <%= %(checked) if i==0 %> name="gallery" class="gallery-selector"/>
                      <%= image_tag(image, class: 'gallery-img', alt: '') %>
                      <label for="img-<%= i %>" class="gallery-thumb"><%= image_tag(image, alt: '') %></label>
                    </div>
                  <% end %>
                <% end %>
                <a class="prev" data-action="click->post-image#slideLeft"><i class="fa-regular fa-chevron-left"></i></a>
                <a class="next" data-action="click->post-image#slideRight"><i class="fa-regular fa-chevron-right"></i></a>
              </div>
            </section>
          </div>

          <div class="col-lg-6 post-detail mt-5 mt-xl-0">
            <% if post.lost_item? %>
              <div class="category-tag lost-tag">
                <div class="category-text font-weight700">โพสต์หาของหาย</div>
              </div>
            <% else %>
              <div class="card-text text-center category-tag found-tag">
                <div class="category-text font-weight700">โพสต์หาเจ้าของ</div>
              </div>
            <% end %>
            <p class="card-text"><%= post.detail %></p>
            <p class="card-text fw-bold text-subtitle pt-5">รายละเอียด</p>
            <div class="row card-detail">
              <div class="col-md-9">
                <div class="detail-text">
                  <div class="text-content"><p class="font-weight500">ประเภท</p></div>
                  <%= Type.find(post.type_id).type_name %>
                </div>
                <hr>
                <div class="detail-text">
                  <div class="text-content"><p class="font-weight500"><%= post.lost_item? ? 'วันที่หาย ' : 'วันที่พบ '%></p></div>
                  <div data-controller="datetime" data-datetime-date-value="<%= post.date %>" data-datetime-format-value='DD MMMM YYYY' data-datetime-target="output"></div>
                </div>
                <hr>
                <div class="detail-text">
                  <div class="text-content"><p class="font-weight500">สถานที่</p></div>
                  <%= post.location %>
                </div>
                <hr>
                <% if !post.active? %>
                  <div class="detail-text">
                    <div class="text-content"><p class="font-weight500">วันที่ปิดโพสต์</p></div>
                    <div data-controller="datetime" data-datetime-date-value="<%= post.updated_at %>" data-datetime-format-value='DD MMMM YYYY' data-datetime-target="output"></div>
                  </div>
                  <hr>
                  <div class="detail-text">
                    <div class="text-content"><p class="font-weight500">เหตุผล</p></div>
                    <%= post.reason %>
                  </div>
                  <hr>
                <% end %>
              </div>
            </div>

            <!-- Location -->
            <%= simple_form_for post, { data: { controller: 'show-map'} } do |f| %>
              <%= f.hidden_field :lat, data: { show_map_target: "latitude" } %>
              <%= f.hidden_field :lng, data: { show_map_target: "longitude"} %>
              <%= f.hidden_field :location, data: { show_map_target: "address"} %>
              <%= content_tag :div, nil, data: { action: 'google-maps-callback@window->show-map#showMap', show_map_target: "map" }, class: 'map mb-5 mt-5' %>
            <% end %>

            <div class="create-poster mb-5">
              <% if user_signed_in? && post.owner?(current_user) && post.active? %>
                <%= link_to(new_post_poster_path(post), class: 'btn btn--secondary p-3 w-100' ) do %>
                  <i class="fa-solid fa-wand-magic-sparkles"></i> สร้างโปสเตอร์
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <hr style="height: 2px; background-color:black;">
        <div class="row mt-5">
          <div class="col d-flex align-items-center">
            <div class="user-avatar pe-5">
              <% if post.user.avatar.present? %>
                <%= image_tag(post.user.avatar, class: 'avatar') %>
              <% else %>
                <img alt="image" class="avatar" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=">
              <% end %>
            </div>
            <div class="user-info">
              <p class="card-text fw-bold">
                <%= post.user.username %>
              </p>
              <%# Info %>
              <% if post.user.tel? or post.user.fblink? or post.user.facebook? %>
                <p class="card-text">ติดต่อ :
                  <%# Show tel %>
                  <% if post.user.tel? %>
                    <i class="fa-solid fa-phone text-body"></i> <%= phone_to post.user.tel, class: 'text-decoration-none' %>
                  <% end %>
                  <%# Show facebook link %>
                  <% if post.user.fblink? %>
                    <%= link_to(post.user.fblink, class: 'text-decoration-none', target: 'blank') do %>
                      <i class="fa-brands fa-facebook-square text-body ms-3"></i>
                      <% if post.user.facebook? %>
                        <%= post.user.facebook %>
                      <% else %>
                        Facebook
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if post.user.facebook? %>
                      <i class="fa-brands fa-facebook-square text-body ms-3"></i>
                      <%= post.user.facebook %>
                    <% end %>
                  <% end %>
                </p>
              <% else %>
                <p class="card-text"> ไม่มีข้อมูลการติดต่อ </p>
              <% end %>
              <%# Address %>
              <% if post.user.address? %>
                  <% if !post.user.not_show_address %>
                    <p class="card-text">ที่อยู่ : <%= post.user.address %></p>
                  <% end %>
                <% else %>
              <% end %>
            </div>
          </div>
          <div class="col d-flex justify-content-end">
            <p class="d-flex align-items-center font-weight500">แชร์โพสต์นี้ :
              <%= link_to("https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, :target => :popup, style: 'padding: 10px; text-decoration: none;')  do %>
                <i class="fa-brands fa-facebook-square" style="font-size: 30px; color: #4267B2;"></i>
              <% end %>
              <%= button_tag 'Copy link', class: 'btn--primary copy-btn', data: { controller: 'clipboard', action: 'clipboard#copyToClipboard' } %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete post -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="delete-post-modal">
      <div class="modal-content">
        <div class="close-btn">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-header">
          <p class="modal-title" id="myModalLabel">คุณแน่ใจใช่ไหม?</p>
        </div>
        <div class="modal-body justify-content-center">
          <div class="modal-text" style="text-align: center;">
            คุณต้องการลบโพสต์นี้ออกจากรายการใช่หรือไม่
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn--outline-primary-hover" data-bs-dismiss="modal">ยกเลิก</button>
            <%= button_to "ยืนยัน", post, method: :delete , class: 'btn btn--primary'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal close post -->
<div class="modal fade" id="closePostModal" tabindex="-1" aria-labelledby="closePostModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
      <%= simple_form_for @post, url: post_path, method: 'patch', data: { controller: "radio-selection", action: "radio-selection#checkOption" } do |f| %>
        <div class="close-post-modal">
          <div class="modal-content">
            <div class="close-btn">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
               <p class="modal-title" id="closePostModalLabel">คุณต้องการปิดโพสต์นี้ใช่ไหม?</p>
            </div>
            <div class="modal-body justify-content-center">
              <div class="modal-text">
                <p class="mb">กรุณาเลือกเหตุผล</p>
                <p>
                  <label class="cursor-pointer">
                    <%= radio_button 'status', '', 'พบเจอของ/เจ้าของแล้ว', data: { radio_selection_target: "foundRadioButton" } %> พบเจอของ/เจ้าของแล้ว
                  </label>
                </p>
                <p>
                  <label class="cursor-pointer">
                    <%= radio_button 'status', '', 'ไม่ต้องการค้นหาอีกต่อไป', data: { radio_selection_target: "hopelessRadioButton" } %> ไม่ต้องการค้นหาอีกต่อไป
                  </label>
                </p>
                <p>
                  <div>
                    <label class="cursor-pointer">
                      <%= radio_button 'status', '', nil, data: { radio_selection_target: "otherRadioButton" } %> อื่นๆ โปรดระบุ
                      <%= text_field_tag :other_reason, nil, data: { radio_selection_target: "textInput", action: "keyup->radio-selection#checkOther" },  class:'form-control', id: 'SelectionAlert', required: true %>
                      <div class="invalid-feedback inother">
                        กรุณาระบุเหตุผล
                      </div>
                    </label>
                  </div>
                </p>
                <p>
                  <%= f.hidden_field :status, data: { radio_selection_target: "statusInput" } %>
                  <%= f.hidden_field :reason, data: { radio_selection_target: "reasonInput" } %>
                </p>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <%= f.button :button, "ยกเลิก", type: "button", class: "btn btn--outline-primary style", data: { bs_dismiss: 'modal' } %>
              <%= f.button :button, "ยืนยัน", class: "btn btn--primary" %>
            </div>
          </div>
        </div>
      <% end %>
	</div>
</div>

