<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= post.type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= post.time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= post.location %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= post.detail %>
  </p>

</div>
