<% content_for :meta do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= post.name %>" />
  <meta property="og:description" content="<%= post.detail || "more detail" %>" />
  <% if post.images.attached? %>
    <meta property="og:image" content="<%= polymorphic_url(post.images.first) %>" />
  <% else %>
    <meta property="og:image" content="https://c.ndtvimg.com/2020-08/h5mk7js_cat-generic_625x300_28_August_20.jpg?im=Resize=(1230,900)" />
  <% end %>
<% end %>




<div id="<%= dom_id @post %>">
  <div class="container mt-5">
    <div class="row">
      <div class="col text-start">
        <%= link_to root_path do %>
          <i class="fa-solid fa-arrow-left" style="font-size: 35px;"></i>
        <% end %>
      </div>
      <div class="col-5">
        <div class="d-flex justify-content-between align-items-center">
          <% if user_signed_in? && post.owner?(current_user) && post.active? %>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#myModal">ลบโพส</button>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">ปิดโพส</button>
            <%= link_to 'แก้ไข', edit_post_path(post), class: 'btn btn-light' %>
          <% end %>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <%= simple_form_for @post, url: post_path, method: 'patch', data: { controller: "radio-selection", action: "radio-selection#checkOption" } do |f| %>
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">คุณต้องการปิดโพสนี้ใช่ไหม?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body justify-content-center">
                <div class="modal-text">
                  <p>เลือกเหตุผล</p>
                  <p>
                    <%= radio_button 'status', '', 'เจอของแล้ว', data: { radio_selection_target: "foundRadioButton" } %>
                    <%= f.label "เจอของแล้ว" %>
                  </p>
                  <p>
                    <%= radio_button 'status', '', 'หมดหวังที่จะเจอ', data: { radio_selection_target: "hopelessRadioButton" } %>
                    <%= f.label "หมดหวังที่จะเจอ" %>
                  </p>
                  <p>
                    <%= radio_button 'status', '', nil, data: { radio_selection_target: "otherRadioButton" } %>
                    <%= f.label "อื่นๆ ระบุ" %>
                    <%= text_field_tag :other_reason, '', data: { radio_selection_target: "textInput" } %>
                  </p>
                  <p>
                    <%= f.hidden_field :status, data: { radio_selection_target: "statusInput" } %>
                    <%= f.hidden_field :reason, data: { radio_selection_target: "reasonInput" } %>
                  </p>
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                  <%= f.button :button, "ยกเลิก", class: "btn-outline-secondary", data: { bs_dismiss: 'modal' } %>
                  <%= f.button :button, "ยืนยัน", class: "btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row g-0 mt-5">
      <div class="card padding-fix">
        <div class="card-body">
          <div class="row justify-content-space-between">
            <div class="col-auto">
              <h1 class="card-title"><%= post.name %></h1>
            </div>
            <% if post.active? %>
              <div class="col mt-3">
                <p class="card-text"><i class="fa-solid fa-circle"></i>กำลังตามหา</p>
              </div>
              <div class="col">
              </div>
              <div class="col-2">
                <p class="card-text">วันที่ประกาศ: <%= post.created_at.localtime.strftime("%d/%m/%y") %></p>
              </div>
            <% else %>
              <div class="col-3">
                <div class="row ">
                  <p class="card-text">ปิดประกาศเมื่อ: <%= post.updated_at.localtime.strftime("%d/%m/%y") %></p>
                  <p class="card-text">หมายเหตุ: <%= post.reason %></p>
                </div>
              </div>
            <% end %>
            <div class="col-2">
            </div>
          </div>
          <div class="row mt-2 justify-content-space-between">
            <div class="col-8">
              <div class="row mt-2">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width:80%; height: 400px; display: flex;">
                  <div class="carousel-inner">
                    <% if post.images.attached? %>
                      <% post.images.each_with_index do |image, i| %>
                        <div class="carousel-item <%= "active " if i==0 %>">
                            <%= image_tag(image) %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div class="row mt-2">
                <ul>
                  <li style="display: inline-block; list-style-type: none">
                    <% if post.images.attached? %>
                      <% post.images.each do |image| %>
                        <%= image_tag(image, style: "width: 150px; height: 150px;") %>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <p class="card-text"><%= post.lost_item? ? 'วันที่หาย: ': 'วันที่เจอ: ' %><%= post.date.strftime("%d/%m/%y") %></p>

              <p class="card-text">
                <%= post.lost_item? ? 'สถานที่หาย: ': 'สถานที่เจอ: ' %>
                <%= post.location %>
                <%= link_to "สร้างโปสเตอร์", new_post_poster_path(post), class: 'btn btn-warning'%>
              </p>
              <p class="card-text">รายละเอียดเพิ่มเติม: <%= post.detail %></p>
              <p class="card-text">แชร์:
                <%= button_tag 'Copy to Clipboard', type: 'button', data: { controller: 'clipboard', action: 'clipboard#copyToClipboard' } %>
                <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, :target => :popup  do %>
                  <i class="fa-brands fa-facebook-square" style="font-size: 35px;"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% unless user_signed_in? && post.owner?(current_user) %>
      <div class="row g-0 mt-2">
        <div class="card">
          <div class="row">
            <div class="col-auto mt-3">
              <% if post.user.avatar.present? %>
                <%= image_tag(post.user.avatar, style:"width: 40px; height: 40px; object-fit: cover;", class: "rounded-circle") %>
              <% else %>
                <img alt="image" class="rounded-circle" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" style = "width: 40px; height: 40px; object-fit: cover;">
              <% end %>
            </div>
            <div class="col-8">
              <div class="card-body">
              <%= post.user.username %>
              <p class="card-text">ติดต่อได้ที่&nbsp;
                <i class="fa-solid fa-phone" style="font-size: 20px;"></i>&nbsp;<%= phone_to post.user.tel %>&nbsp;
                <%= link_to post.user.fblink do %>
                    <i class="fa-brands fa-facebook-square" style="font-size: 25px;"></i>
                    Facaebook
                <% end %>
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>
</div>


<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center" style="text-align: center; padding: 110px 0;">
        คุณต้องการลบโพสนี้ใช่ไหม ?
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <%= button_to "ยืนยัน", post, method: :delete , class: 'btn'%>
      </div>
    </div>
  </div>
</div>
