<div id="preview_modal" class="modal modal-pre fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="preview-modal">
      <div class="modal-content">
        <div class="modal-header preview">
          <div>
            <h4 class="title preview" id="preview-title">เนื้อหานี้เป็นตัวอย่างโพสต์ของคุณ</h4>
          </div>
          <div>
            <button type="button" class="btn btn--outline-primary preview" data-bs-dismiss="modal" id="close-modal-preview">กลับไปแก้ไข</button>
            <button type="submit" class="btn btn--primary preview"  id="submit-preview">สร้างโพสต์เลย</button>
          </div>
        </div>

        <div class="modal-body" id="preview-body">
          <div class="row">
            <div class="card p-5 border-dark" style="border-radius: 15px">
              <div class="card-body">
                <div class="row m-2">
                  <div class="col-8">
                    <h3 data-post-preview-target="name" id="preview-name">Name</h3>
                  </div>
                  <div class="col-4 text-end">
                    <p class="card-text p-2 text-center status-tag active-status" id="preview-status">
                      <span class="dot-white"></span>
                      กำลังตามหา
                    </p>
                    <div class="d-flex justify-content-end" id="preview-today">
                      <p class="fw-bold">วันที่โพสต์ :&nbsp;</p>
                      <p data-post-preview-target="today" data-post-preview-format-value="DD MMMM YYYY">DD MM YYYY</p>
                    </div>
                  </div>
                </div>

                <hr style="height: 2px; background-color:black;">

                <div class="row post-body mt-5">

                  <!-- Gallery image -->
                  <div class="col-7 post-image">
                    <section class="gallery">
                      <div class="gallery-scroll" id="imgPreview">
                      </div>
                    </section>
                  </div>

                  <div class="col-5 post-detail">
                    <% if post.lost_item? %>
                      <div class="category-tag lost-tag">
                        <div class="category-text font-weight700" id="lost-post-title">โพสต์หาของหาย</div>
                      </div>
                    <% else %>
                      <div class="card-text text-center category-tag found-tag">
                        <div class="category-text font-weight700" id="found-post-title">โพสต์หาเจ้าของ</div>
                      </div>
                    <% end %>
                    <p class="card-text" data-post-preview-target="detail" id="preview-detail">detail</p>
                    <p class="card-text fw-bold text-subtitle pt-5">รายละเอียด</p>
                    <div class="row card-detail preview">
                      <div class="col-md-9">
                        <div class="detail-text">
                          <div class="text-content preview"><p class="font-weight500">ประเภท</p></div>
                          <p data-post-preview-target="type" id="preview-type" class="text-value preview">type</p>
                        </div>
                        </div>
                        <hr class = "hrpreview">
                        <div class="detail-text">
                          <div class="d-none" data-post-preview-target="category"></div>
                          <div class="text-content preview"><p class="font-weight500"><%= post.lost_item? ? 'วันที่หาย ' : 'วันที่พบ '%></p></div>
                          <p data-post-preview-target="date" data-post-preview-format-value="DD MMMM YYYY"id="preview-date" class="text-value preview">DD MM YYYY</p>
                        </div>
                        <hr class = "hrpreview">
                        <div class="detail-text">
                          <div class="text-content preview"><p class="font-weight500">สถานที่</p></div>
                          <p data-post-preview-target="fieldPreview" id="preview-address" class="text-value preview">value</p>
                        </div>
                        <hr class = "hrpreview">
                      </div>
                    <%= content_tag :div, nil, data: { post_preview_target: "map" }, class: 'map mb-5', id: "preview-map" %>
                    </div>
                  </div>
                </div>


              <hr style="height: 2px; background-color:black;">

              <div class="row">
                <div class="col-12 d-flex align-items-center" id="preview-user-info">
                  <div class="user-avatar pe-5">
                    <% if current_user.avatar.present? %>
                      <%= image_tag(current_user.avatar, class: 'avatar') %>
                    <% else %>
                      <img alt="image" class="avatar" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=">
                    <% end %>
                  </div>
                  <div class="user-info">
                    <p class="card-text fw-bold">
                      <%= current_user.username %>
                    </p>
                    <%# Info %>
                    <% if current_user.tel? or current_user.fblink? or current_user.facebook? %>
                      <p class="card-text">ติดต่อ :
                        <%# Show tel %>
                        <% if current_user.tel? %>
                          <i class="fa-solid fa-phone" style="font-size: 20px;"></i> <%= phone_to current_user.tel, style: 'text-decoration: none;' %>
                        <% end %>
                        <%# Show facebook link %>
                        <% if current_user.fblink? %>
                          <%= link_to(current_user.fblink, style: 'text-decoration: none;', target: 'blank') do %>
                            <i class="fa-brands fa-facebook-square text-subtitle"></i>
                            <% if current_user.facebook? %>
                              <%= current_user.facebook %>
                            <% else %>
                              Facebook
                            <% end %>
                          <% end %>
                        <% else %>
                          <% if current_user.facebook? %>
                            <i class="fa-brands fa-facebook-square text-subtitle"></i>
                            <%= current_user.facebook %>
                          <% end %>
                        <% end %>
                      </p>
                    <% else %>
                      <p class="card-text"> ไม่มีข้อมูลการติดต่อ </p>
                    <% end %>
                    <%# Address %>
                    <% if current_user.address? %>
                        <% if !current_user.not_show_address %>
                          <p class="card-text">ที่อยู่ : <%= current_user.address %></p>
                        <% end %>
                      <% else %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
