<div class="container">
  <div class="row d-flex justify-content-center search-form">
    <div class="col-12">
      <div class="d-flex justify-content-center me-3 mb-5">
        <h2 class="text-header2 text-center">
          คุณกำลังมองหาอะไร
        </h2>
        <div class="ms-5 align-self-end pb-4">
          <div class="dot-typing"></div>
        </div>
      </div>
      <div class="box-search">
        <%= search_form_for @q, url: root_path, data: {controller: "autocomplete", autocomplete_url_value: autocomplete_posts_path } do |f| %>
          <div class="d-md-flex">
            <div class="flex-grow-1 me-md-3 box-search-item">
              <%= f.search_field :name_cont, data: {autocomplete_target: "input" }, class: "form-control" %>
              <ul class="list-group position-absolute" data-autocomplete-target="results"></ul>
            </div>
            <div class="d-grid mt-3 mt-md-0">
              <%= f.submit 'ค้นหา', class: "btn btn--secondary" %>
            </div>
          </div>
        <% end %>
        
        <p class="text-decoration-underline mt-4 pointer" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">ค้นหาขั้นสูงและฟิลเตอร์</p>

        <%= search_form_for @q|| Post.ransack, url: search_posts_path,
          html: { id: 'searchForm', class: 'form-inline', method: :post },
          data: {
            controller: "search-form autocomplete maps",
            autocomplete_url_value: autocomplete_posts_path
          } do |f| %>

          <%= hidden_field_tag :lat, @lat, data: { maps_target: "latitude", search_form_target: 'latitude' } %>
          <%= hidden_field_tag :lng, @lng, data: { maps_target: "longitude", search_form_target: 'longitude' } %>
          <%= hidden_field_tag :location, '', data: { maps_target: "address" } %>

          <div class="collapse mt-5" id="collapseExample">
            <hr>
            <div class="alert alert-danger d-none" id="categoriesAlert">กรุณาเลือกประเภท</div>
            <div class="row mt-5">
              <div class="col-lg-2 d-flex align-items-center">
                <p class="mb-0">ประเภท :</p>
              </div>
              <div class="col-md-6 col-lg-5 col-xl-3">
                <label>
                  <div class="checkboxitem d-flex align-items-center">
                    <%= check_box_tag('q[category_eq_any][]', 1, @q.category_eq_any&.include?(1) || false, data: { search_form_target: 'lostCheckbox' }) %> ประกาศหาของหาย
                  </div>
                </label>
              </div>
              <div class="col-md-6 col-lg-5 col-xl-3 mt-5 mt-md-0">
                <label>
                  <div class="checkboxitem d-flex align-items-center">
                    <%= check_box_tag('q[category_eq_any][]', 0, @q.category_eq_any&.include?(0)  || false, data: { search_form_target: 'foundCheckbox' }) %> ประกาศตามหาเจ้าของ
                  </div>
                </label>
              </div>
            </div>
            <div class="mt-5 alert alert-danger d-none" id="nameAndTypeAlert">กรุณาระบุคำค้นหาหรือหมวดหมู่</div>
            <div class="row mt-5">
              <div class="col-lg-2 d-flex align-items-center">
                <%= f.label "ค้นหา :" %>
              </div>
              <div class="col-lg-10 col-xl-6">
                <%= f.search_field :name_cont, data: {autocomplete_target: "input", search_form_target: 'searchInput' }, class: 'form-control ' %>
                <ul data-autocomplete-target="results"></ul>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-2 d-flex align-items-center">
                <%= f.label "หมวดหมู่ :" %>
              </div>
              <div class="col-lg-6 col-xl-3">
                <%= f.select :type_id_eq, Type.all.map{ |l| [l.type_name, l.id] }, {:include_blank => true}, class: 'form-control ', data: { search_form_target: 'typeSelect' } %>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-2 d-flex align-items-center">
                <%= f.label "วันที่เริ่มต้น :"%>
              </div>
              <div class="col-lg-5 col-xl-3">
                <%= f.date_field :date_gteq, class: 'form-control' %>
              </div>
              <div class="col-auto d-flex align-items-center mt-5 mt-lg-0">
                <%= f.label "ถึงวันที่สิ้นสุด :" %>
              </div>
              <div class="col-lg-5 col-xl-3">
                <%= f.date_field :date_lteq, class: 'form-control'  %>
              </div>
            </div>

            <div class="mt-5 alert alert-danger d-none" id="mapAlert">กรุณาระบุสถานที่</div>
            <div class="row mt-5">
              <div class="col-lg-2 d-flex align-items-center">
                <%= f.label "สถานที่ :" %>
              </div>
              <div class="col-lg-10 col-xl-6">
                <%= text_field :map, :field, class: 'form-control', data: { maps_target: "field", action: "keydown->maps#preventSubmit" } %>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">
                <%= content_tag :div, nil, data: { action: 'google-maps-callback@window->maps#initializeMap', maps_target: "map" }, class: 'map' %>
              </div>
            </div>

            <div class="pt-5"></div>
            <div class="d-md-flex mt-5">
              <div class="flex-grow-1 d-flex align-items-center">
                <%= button_tag type: 'button', data: { action: 'search-form#clearForm' }, class: 'btn' do %>
                  <i class="fa-solid fa-arrow-rotate-left me-3"></i> ล้างข้อมูล
                <% end %>
                </div>
              <div class="me-md-3 d-grid mt-5 mt-md-0"><%= link_to "ยกเลิก", :back, class: "btn btn--outline-secondary", data: { bs_toggle: 'collapse', bs_target: '#collapseExample' } %></div>
              <div class="d-grid mt-5 mt-md-0"><%= f.submit "ตกลง", class: "btn btn--primary", data: { action: 'search-form#validateForm' } %></div>
            </div>
          </div>
        <%end %>
      </div>
    </div>
  </div>
</div>
