<div class="container">
  <div class="row d-flex justify-content-center search-form">
    <div class="col-12">
      <div class="d-flex justify-content-center me-3 mb-5">
        <h2 class="text-header2 text-center">
          คุณกำลังมองหาอะไร
        </h2>
        <div class="ms-5 align-self-end pb-4">
          <div class="dot-typing"></div>
        </div>
      </div>
      <div class="box-search" data-controller="my-posts">
        <%= search_form_for @q, url: root_path, data: {controller: "autocomplete", autocomplete_url_value: autocomplete_posts_path } do |f| %>
          <div class="row">
            <div class="col box-search-item has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <%= f.search_field :name_cont, data: { autocomplete_target: "input" }, class: "form-control", placeholder: 'ค้นหาที่นี่' %>
              <div class="result-search">
                <ul class="list-group" data-autocomplete-target="results"></ul>
              </div>
            </div>
            <div class="col-12 col-md-auto mt-3 mt-md-0" id="button-search" >
              <%= f.submit 'ค้นหา', class: "btn btn--secondary w-100" %>
            </div>
          </div>
        <% end %>

        <p class="text-decoration-underline mt-4 pointer mb-0" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-controller="search-form" data-action="click->search-form#checkReset">ค้นหาขั้นสูงและฟิลเตอร์</p>

        <%= search_form_for @q || Post.ransack, url: search_posts_path,
          html: { id: 'searchForm', class: 'form-inline', method: :get },
          data: {
            controller: "search-form autocomplete maps",
            autocomplete_url_value: autocomplete_posts_path
          } do |f| %>

          <%= hidden_field_tag :lat, @lat, data: { maps_target: "latitude", search_form_target: 'latitude' } %>
          <%= hidden_field_tag :lng, @lng, data: { maps_target: "longitude", search_form_target: 'longitude' } %>
          <%= hidden_field_tag :location, @location, data: { maps_target: "address", search_form_target: 'address' } %>

          <div class="collapse" id="collapseExample">
            <br>
            <hr>
            <div class="alert alert-danger d-none" id="categoriesAlert">กรุณาเลือกประเภท</div>
            <div class="row mt-5">
              <div class="col-lg-2 col-xl-1 d-flex align-items-center">
                <p class="mb-0 font-weight600">ประเภท :</p>
              </div>
              <div class="col-md-auto col-lg-5 col-xl-3">
                <label class="cursor-pointer w-100">
                  <div class="checkboxitem" id="check-box-search-lost-category">
                    <%= radio_button_tag('q[category_eq_any][]', 1, @q.category_eq_any&.include?(1) || false, class: 'checkmark-category', data: { search_form_target: 'lostCheckbox', action: 'click->search-form#addCheckboxColor' }, checked: 'checked') %>
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-thin fa-circle"></i>
                    โพสต์หาของหาย
                  </div>
                </label>
              </div>
              <div class="col-md-auto col-lg-5 col-xl-3 mt-5 mt-md-0">
                <label class="cursor-pointer w-100">
                  <div class="checkboxitem" id="check-box-search-found-category">
                    <%= radio_button_tag('q[category_eq_any][]', 0, @q.category_eq_any&.include?(0)  || false, class: 'checkmark-category', data: { search_form_target: 'foundCheckbox', action: 'click->search-form#addCheckboxColor' }) %>
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-thin fa-circle"></i>
                     โพสต์ตามหาเจ้าของ
                  </div>
                </label>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-2 col-xl-1 d-flex align-items-center">
                <%= f.label "ค้นหา :", class: 'font-weight600'%>
              </div>
              <div class="col-lg-10 col-xl-9">
                <%= f.search_field :name_cont, data: {autocomplete_target: "input", search_form_target: 'searchInput', action: 'keyup->search-form#checkSearchorType' }, class: 'form-control ', id: 'name-advance-search', placeholder: 'ค้นหาที่นี่' %>
                <div class="result-search">
                  <ul class="list-group" data-autocomplete-target="results"></ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-xl-1 d-flex"></div>
              <div class="col-lg-10 col-xl-9">
                <p class="text-danger pt-2 d-none" id="name-error">กรุณากรอกข้อมูลคำค้นหา หรือ หมวดหมู่</p>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-2 col-xl-1 d-flex align-items-center">
                <%= f.label "หมวดหมู่ :", class: 'font-weight600'%>
              </div>
              <div class="col-lg-4 col-xl-4">
                <%= f.select :type_id_eq, Type.all.map{ |l| [l.type_name, l.id] }, {:include_blank => 'เลือก'}, class: 'form-control form-select cursor-pointer', id: 'category-advance-search', data: { search_form_target: 'typeSelect', action: 'input->search-form#checkSearchorType' } %>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-xl-1 d-flex"></div>
              <div class="col-lg-10 col-xl-9">
                <p class="text-danger pt-2 d-none" id="category-error">กรุณากรอกข้อมูลคำค้นหา หรือ หมวดหมู่</p>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-2 col-xl-1 d-flex align-items-center">
                <%= f.label "วันที่เริ่มต้น :", class: 'font-weight600'%>
              </div>
              <div class="col-lg-4 mb-2">
                <%= f.date_field :date_gteq, class: 'form-control', id: 'start_date', data: { search_form_target: 'startDate', action: 'input->search-form#checkDateStart input->search-form#dateStartSelected' }, max: Date.today %>
                <p class="text-danger t-floating pt-2" id="date-start-error" style="position: absolute; margin-top: 5px;">ไม่ควรเลือกวันที่เกินปัจจุบัน</p>
              </div>
              <div class="col-auto d-flex mt-5 mt-lg-0 align-items-center">
                <%= f.label "วันที่สิ้นสุด :", class: 'font-weight600'%>
              </div>
              <div class="col-lg-4 mb-2">
                <%= f.date_field :date_lteq, class: 'form-control', id: 'end_date', data: { search_form_target: 'endDate', action: 'input->search-form#checkDateEnd input->search-form#dateEndSelected' }, max: Date.today %>
                <p class="text-danger t-floating pt-2" id="date-end-error" style="position: absolute; margin-top: 5px;">ไม่ควรเลือกวันที่เกินปัจจุบัน</p>
              </div>
            </div>

            <div class="row" style="margin-top: 60px;">
              <div class="col-lg-2 col-xl-1 d-flex align-items-center">
                <%= f.label "สถานที่ :", class: 'font-weight600'%>
              </div>
              <div class="col-lg-10 col-xl-9">
                <%= text_field :map, :field, value: @location, placeholder: "Search", class: 'form-control location-advance',  id: 'location-advance-search', data: { maps_target: "field", search_form_target: 'place', action: "keydown->maps#preventSubmit input->search-form#checkLocationField input->maps#removeMarker input->search-form#checkLocation" } %>
                <i class="fa fa-search form-control-feedback location"></i>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-xl-1 d-flex"></div>
              <div class="col-lg-10 col-xl-9">
                <p class="text-danger pt-2 d-none" id="location-error">กรุณาเลือกสถานที่</p>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-2 col-xl-1 d-flex">
              </div>
              <div class="col-lg-10 col-xl-11">
                <%= content_tag :div, nil, data: { action: 'google-maps-callback@window->maps#initializeMap click->search-form#checkMarker', maps_target: "map", search_form_target: 'place'}, class: 'map advance' %>
              </div>
            </div>

            <div class="pt-5"></div>
            <div class="d-md-flex mt-5">
              <div class="flex-grow-1 d-flex">
                <%= button_tag type: 'button', data: { action: 'click->search-form#clearForm click->maps#removeMarkerOnClick' }, class: 'btn' do %>
                  <i class="fa-solid fa-arrow-rotate-left me-3"></i> ล้างข้อมูล
                <% end %>
                </div>
              <div class="me-md-3 d-grid mt-5 mt-md-0"><%= link_to "ยกเลิก", :back, class: "btn btn--outline-secondary", data: { bs_toggle: 'collapse', bs_target: '#collapseExample' } %></div>
              <div class="d-grid mt-5 mt-md-0"><%= f.submit "ตกลง", class: "btn btn--primary", data: { action: 'search-form#validateForm' } %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
