<div class="background">
  <header>
    <%= render 'layouts/navbar' %>
  </header>
  <%= render 'posts/search_form' %>
  <div class="listposts mt-14">
    <div class="container pt-5">
      <div class="row justify-content-between align-items-center mb-5">
        <% if @tab == 'my_post' %>
          <div class="col-md-7 order-md-last">
            <div class="btn btn--primary" >
              <i class='fas fa-plus-circle'></i>
              <%= link_to "สร้างโพสต์", category_selects_posts_path %>
            </div>
          </div>
          <div class="col-md-5  btn-group" >
            <%= link_to 'รายการทั้งหมด', root_path , class: "btn btn--outline-secondary" %>
            <%= link_to 'รายการของฉัน', lost_posts_path(tab: 'my_post'), class: "btn btn--secondary" %>
          </div>
        <% end %>
      </div>
      <% if params[:q].present? %>
        <div class="row justify-content-start align-items-center mb-5">
          <div class="col">
            <p class="text-subtitle">ผลลัพธ์การค้นหา (<%= @posts.count %> รายการ)</p>
            <hr class="style">
            <div class="d-flex align-items-center layout-05">
              <p class="text-body">ค้นหา :</p>
                <div class="mb-3 ms-3 px-4 py-2 rounded-pill bg-color--primary200"> <%= params[:q][:name_cont] %></div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row justify-content-between align-items-center mb-5">
        <%= form_with(url: lost_posts_path, method: :get, id: 'homeFilter') do |f| %>
          <%= hidden_field_tag 'tab', @tab %>
          <div class="row justify-content-md border-bottom pb-4 mb-0">
            <div class="col-lg-4">
              <h4>รายการโพสต์ตามหาของทั้งหมด(<%= @posts.total_count %>)</h4>
            </div>
            <div class="col-md-auto">
              <% if @tab == 'my_post' %>
                <%= render 'filter', f:, filter: @filter, category: 'lost_item' %>
              <% end %>
            </div>
          </div>
          <br>
          <% if @posts.present? %>
            <div class="row row-cols-1 row-cols-md-4 g-4">
              <%= render 'posts/card_content', posts: @losts, category: 'lost_item', tab: @tab, filter: @filter, f:  %>
            </div>
          <% else %>
            <div class="d-flex justify-content-center align-items-center">
              <div class="bell-item">
                <i class="fa-regular fa-bell-on"></i>
                <p class="text-subtitle font-weight600">ไม่มีรายการแสดง</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= paginate @posts %>
</div>
