<%= render 'posts/search_form' %>
<div class="landing-listposts mt-14">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col">
        <div class="text-result-search mt-5">
          ผลลัพธ์การค้นหา
          <p>(<%= @posts.total_count %> รายการ)</p>
        </div>
        <hr class="m-0">
        <% if @q.category_eq_any.present? %>
          <div class="search-value mt-5">
            <div class="col-lg-2 col-xl-1 d-flex align-items-center">
              <p class="mb-0 font-weight600">ประเภท :</p>
            </div>
            <div class="col-md-auto">
              <p class="mb-0"><%= @q.category_eq_any == [1]? 'โพสต์ตามหาของหาย' : 'โพสต์ตามหาเจ้าของ' %></p>
            </div>
          </div>
        <% end %>
        <div class="search-value mt-5 align-items-center">
          <% if @q.name_cont.present? %>
            <div class="col-lg-2 col-xl-1 d-flex align-items-center">
              <p class="mb-0 font-weight600">ค้นหา :</p>
            </div>
            <div class="col-lg-4 me-4 advance-search-container">
              <div class="tooltip-advance col-12">
                <p class="result-tag advance-search-name bg-color--primary200 mb-0">
                  <%= @q.name_cont %>
                </p>
                <span class="tooltipText"><%= @q.name_cont %></span>
              </div>
            </div>
          <% end %>
          <% if @q.type_id_eq.present? %>
            <div class="col-lg-1">
              <p class="mb-0 font-weight600">หมวดหมู่ :</p>
            </div>
            <div class="col-lg-4">
              <p class="mb-0"><%= Type.find(@q.type_id_eq).type_name %></p>
            </div>
          <% end %>
        </div>
        <div class="search-value mt-0">
          <% if @q.date_gteq.present? %>
            <div class="col-lg-2 col-xl-1 d-flex align-items-center mt-5">
              <p class="mb-0 me-0 font-weight600">ช่วงวันที่หาย :</p>
            </div>
            <div class="col-lg-1 ms-3 mt-5">
              <p class="mb-0" data-controller="datetime"
                data-datetime-date-value="<%= @q.date_gteq %>"
                data-datetime-format-value='DD/MM/YYYY'
                data-datetime-target="output">
              </p>
            </div>
          <% end %>
          <% if @q.date_lteq.present? %>
            <div class="col-auto mt-5">
              <p class="mb-0 font-weight600">ถึงวันที่ :</p>
            </div>
            <div class="col-lg-1 mt-5">
              <p class="mb-0" data-controller="datetime"
                data-datetime-date-value="<%= @q.date_lteq %>"
                data-datetime-format-value='DD/MM/YYYY'
                data-datetime-target="output">
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-group mt-5 mb-5" id="map-result-advance-search">
        <%= search_form_for @q || Post.ransack, url: search_posts_path,
          html: { id: 'searchForm', class: 'form-inline', method: :post },
          data: {
            controller: "show-map"
          } do |f| %>

          <%= hidden_field_tag :lat, @lat, data: { show_map_target: "latitude" } %>
          <%= hidden_field_tag :lng, @lng, data: { show_map_target: "longitude" } %>
          <%= hidden_field_tag :location, @location, data: { show_map_target: "address" } %>

          <div class="row bs-gutter-x-0">
            <div class="col-lg-8 form-advance-control font-weight500">
              <i class='fas fa-map-marker-alt color--red text-subtitle mr-1' ></i>
              <span data-show-map-target="fieldPreview" id="advance-search-preview-address" ></span>
            </div>
          </div>

          <div class="col-lg-12 mt-5">
            <%= content_tag :div, nil, data: { action: 'google-maps-callback@window->show-map#showMap', show_map_target: "map" }, class: 'map advance' %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <%= render 'posts/card_result' %>
  </div>
</div>
