<div class="container py-5">
  <div class="row">
    <div class="col-4 col-md-2 col-lg-1">
      <%= image_tag 'logo-footer.png', class: 'img-fluid', alt: '' %>
    </div>
    <div class="col-md-4 col-lg-5 mt-5 mt-md-0">
      <h4>Lost n Found</h4>
      <p class="mt-4">
        เว็ปไซต์ที่เราจะช่วยคุณเพิ่มช่องทางในการตามหาสิ่งของที่คุณทำหาย
        <br>และตามหาเจ้าของ เพื่อสร้างสังคมที่ดีขึ้น  ถ้าคุณหาของไม่เจอ ให้เราช่วยหา
      </p>
    </div>
    <div class="col-md-2 mt-5 px-0" id="footer-link">
      <%= link_to root_path, class: 'nav-link text-underline', id: 'footer-root-path-link' do %> หน้าแรก <% end %>
      <%= link_to lost_posts_path, class: 'nav-link text-underline', id: 'footer-lost-posts-path-link' do %> รายการตามหาของหาย <% end %>
      <%= link_to found_posts_path, class: 'nav-link text-underline', id: 'footer-found-posts-path-link' do %> รายการตามหาเจ้าของ <% end %>
      <% if !user_signed_in? %><%= link_to new_user_session_path, class: 'nav-link text-underline', id: 'footer-login-link' do %> Login <% end %><% end %>
    </div>
    <div class="col-md-4 mt-5">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex mb-3">
            <div class="me-2"><i class="fa-brands fa-facebook fa-xl"></i></div>
            <div><%= link_to 'Lost n Found', '', class: 'nav-link p-0' %> </div>
          </div>
          <div class="d-flex mb-3">
            <div class="me-2"><i class="fa-solid fa-envelope fa-xl"></i></div>
            <div><%= mail_to 'lostnfound@bananacoding.com', 'lostnfound@bananacoding.com', class: 'nav-link p-0' %></div>
          </div>
          <div class="d-flex">
            <div class="me-2"><i class="fa-solid fa-phone fa-xl mt-4"></i></div>
            <%= phone_to '053-020078', class: 'nav-link p-0 mt-2' %>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
        </div>
      </div>
    </div>
    <hr class="mt-5">
    <div class="text-center">
      <p>@ lostnfound All right reserved | v. <%= File.read("VERSION") %></p>
    </div>
  </div>
</div>
