<nav class="navbar navbar-expand-lg">
  <div class="container px-md-0">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo_nav.png', alt: '' %>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-2xl"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item ms-3">
          <%= link_to 'หน้าแรก', root_path, class: 'nav-link'%>
        </li>

        <li class="nav-item ms-3">
          <%= link_to 'รายการตามหาของ', lost_posts_path, class: 'nav-link' %>
        </li>

        <li class="nav-item ms-3">
          <%= link_to 'รายการตามหาเจ้าของ', found_posts_path, class: 'nav-link' %>
        </li>

        <% if  user_signed_in? %>
          <li class="nav-item ms-3">
            <div class="dropdown nav-link">
              <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle"></i></i> <%= current_user.email %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <%= link_to 'โพสต์ของฉัน', my_post_posts_path, class: 'dropdown-item' %>
                </li>
                <li>
                  <%= link_to 'โปรไฟล์', edit_user_registration_path, class: 'dropdown-item' %>
                </li>
                <li>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item ms-3">
            <%= render 'layouts/notification' %>
          </li>
        <% else %>
          <li class="nav-item ms-3 mt-3 mt-md-0">
            <%= link_to 'เข้าสู่ระบบ', new_user_session_path, class: 'btn btn--outline-secondary' %>
          </li>
          <!--<li class="nav-item ms-3 mt-3 mt-md-0">
            <button class="btn btn--outline-primary">
              <%= link_to new_user_registration_path, class: 'nav-link p-0' do %> สมัครสมาชิก <% end %>
            </button>
          </li>-->
        <% end %>

        <li class="nav-item dropdown ms-3 mt-3 mt-md-0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag 'Thai.png', alt: '', class: 'icon-l' %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="p-3">
              <%= image_tag 'Thai.png', alt: '', class: 'icon-l' %> Thai
            </li>
            <li class="p-3">
              <%= image_tag 'Eng.png', alt: '', class: 'icon-l' %> English
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
