<html>
    <%= stylesheet_link_tag "navbar" %>
    <head>
        <nav>
            <h1>LOST ITEM</h1>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><%= link_to "Home", root_path, class: "nav-link" %></li>
                    <li><%= link_to "Lost", losts_path %></li>
                    <li><%= link_to "Found", founds_path %></li>
                    <% if user_signed_in? %>
                        <li><%= link_to "Logout", destroy_user_session_path, class: "nav-link" %></li>
                    <% else %>
                        <li><%= link_to "Login", new_user_session_path, class: "nav-link" %> </li>
                    <% end %>
                </ul>
            </div>
        </nav>
    </head>
    <body>
    </body>
</html>